#button-up {
  display: none;
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  background-color: mediumseagreen;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  opacity: .4;
}

#button-up:hover {
  opacity: .8;
}

#button-up:focus {
  outline: none;
}
