/* header-first */

.header-first {
    background-color: white;
    z-index: 3;
}

/* .logo:hover {
    -webkit-filter: drop-shadow(0 0 1px black);
    filter: drop-shadow(0 0 1px black);
} */

.logo img {
    height: auto;
    width: 100px;
}

.mb-4 {
    margin-bottom: 0!important;
}

.mx-auto {
    color: black;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:hover, .mx-auto:hover {
    color: #03cc1e;
}

/* header-second */

.bg-dark {
    background-color: #003513!important;
}

.header-second {
    background-color: white;
    font-size: 0.9rem;
    z-index: 3;
}

.list {
    background-color: #343a40;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    /* max-width: -webkit-fill-available; */
    position: absolute;
    display: none;
    z-index: 2;
}

.list a {
    color: black;
    padding: 9px 12px;
    text-decoration: none;
}

.list a:hover {
    background-color: gray;
    color: #03cc1e;
    padding: 9px 12px;
    text-decoration: none;
}

.list-goods {
    margin: 0px 0 0 -70px;
}

.list-services {
    margin: 0px 0 0 -40px;
}

.nav-item {
    padding: 0 60px;
    margin: auto;
}
.nav-item:hover .list {
    display: grid;
}

.nav-item a {
    color: white;
}

.RBSticky {
    position: fixed;
    height: auto !important;
    top: 0;
    z-index: 16;
    border-top: 0;
    margin-top: 0;
    width: 100%;
}

.with-locale {
  display: flex;
  justify-content: space-evenly;
}

.locale.active {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .nav-item {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .header-fax {
        display: none;
    }

    .navbar {
        flex-wrap: inherit!important;
    }

    .nav-item {
        padding: 0 15px;
    }
}

@media screen and (max-width: 576px) {
    .list {
        position: absolute;
    }

    .list a {
        padding: 8px 10px;
    }

    .list a:hover {
        padding: 8px 10px;
    }

    .list-goods {
        right: 35px;
        top: 44px;
    }

    .list-services {
        right: 100px;
        top: 45px;
    }
}

@media screen and (max-width: 480px) {
    .nav-item {
        padding: 0 5px;
    }
}
