<header ng-app="anchorScrollExample">
  <div class="header-first">
    <nav class="navbar bg-light justify-content-center">
      <div class="col-xs-6 col-sm-4 col-md-5 col-lg-5 mx-auto mb-4">
        <i class="fa fa-phone mr-3"></i>
        <a href="tel: +375232233311" title="телефон">8 0232 23-33-11</a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 mx-auto mb-4 logo">
        <img src="../../assets/img/logo-2-min.png" />
      </div>

      <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 mb-4 with-locale">
        <div class="header-fax mx-auto">
          <i class="fa fa-print mr-3"></i>
          <span title="факс">8 0232 20-85-63</span>
        </div>
        <div>
          <a id="specialButton" href="#"><img src="https://lidrekon.ru/images/special.png" alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ" /></a>
        </div>
        <div class="ruby">
          <a on-click="changeLocale({ event: $event, locale: 'ru' })" id="locale-ru" class="locale">RU</a>
          /
          <a on-click="changeLocale({ event: $event, locale: 'be' })" id="locale-by" class="locale">BY</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="header-second" *transloco="let t">
    <nav class="navbar navbar-expand-lg bg-dark justify-content-center RBsticky-element">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">{{ t('header.main') }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/info">{{t('header.info')}}</a>
          <div class="list list-info" ng-controller="MainCtrl">
            <a ng-click="scrollTo('CE')" routerLink="/info">{{ t('info.certificates') }}</a>
            <a ng-click="scrollTo('FB')" routerLink="/info">{{ t('info.feedback') }}</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/services">{{ t('header.services') }}</a>
          <div class="list list-services" ng-controller="MainCtrl">
            <a ng-click="scrollTo('SR')" routerLink="/services">{{ t('services.special-work.caption') }}</a>
            <a ng-click="scrollTo('OR')" routerLink="/services">{{ t('services.common-work.caption') }}</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/goods">{{ t('header.goods') }}</a>
          <div class="list list-goods">
            <a ng-click="scrollTo('SP')" routerLink="/goods">{{ t('goods.own-production') }}</a>
            <a ng-click="scrollTo('NL')" routerLink="/goods">{{ t('goods.illiquid') }}</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/portfolio">{{ t('header.portfolio') }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contacts">{{ t('header.contacts') }}</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/recall">{{t('header.recall')}}</a>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
