.gallery a {
  line-height: 1.7em;
  text-decoration: none;
}
.gallery img {
  border: 2px solid white;
}

.gallery-text-first {
  color: black;
  font-size: 12pt;
  margin-top: 5px;
}

.gallery-text-second {
  color: black;
  font-size: 10pt;
  margin-top: -10px;
}

.portfolio {
  background: white;
  min-height: 100vh;
}

.portfolio-body {
  border: 2px solid darkgreen;
  margin: 0 80px;
  opacity: 1;
}

.portfolio-caption {
  background-color: black;
  color: #009236;
  padding: 20px 40px;
}

.portfolio-space {
  height: 50px;
}

.portfolio-text {
  padding: 20px 40px;
}

.portfolio-undercaption {
  margin-bottom: 10px;
}

.portfolio-undercaption a {
  color: white;
  font-size: 20pt;
  line-height: 2em;
}

/* Gallery */

.gallery {
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}
  
.gallery ul li {
  min-height: 300px;
  list-style:none;
  float: left;
  font: 10px/1.5 Verdana, Helvetica, Sans-serif;
  width: 16%;
  margin: 2% 2% 10px 2%;
}
  
.gallery ul li a {
  color: #5d5f5d;
}
  
.gallery ul li a img {
  max-width: 100%;
}
/* !!! */
.title {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #333;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
.masonry {
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
-moz-column-gap: 30px;
-webkit-column-gap: 30px;
column-gap: 30px;
-moz-column-fill: initial;
-webkit-column-fill: initial;
column-fill: initial;
}
.masonry .brick {
margin-bottom: 30px;
overflow: hidden;
}
.masonry .brick img {
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.masonry .brick:hover img {
opacity: .75;
}
.masonry.bordered {
-moz-column-rule: 1px solid #eee;
-webkit-column-rule: 1px solid #eee;
column-rule: 1px solid #eee;
-moz-column-gap: 50px;
-webkit-column-gap: 50px;
column-gap: 50px;
}
.masonry.bordered .brick {
padding-bottom: 25px;
margin-bottom: 25px;
border-bottom: 1px solid #eee;
}
.masonry.gutterless {
-moz-column-gap: 0;
-webkit-column-gap: 0;
column-gap: 0;
}
.masonry.gutterless .brick {
margin-bottom: 0;
}

.span {
-moz-column-span: all;
-webkit-column-span: all;
column-span: all;
*margin: 30px 0;
}

@media only screen and (min-width: 1024px) {
.desc {
  font-size: 1.25em;
}

.intro {
  letter-spacing: 1px;
}

.wrapper {
  width: 80%;
  padding: 2em;
}

.masonry {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.wrapper {
  width: 85%;
  padding: 1.5em;
}

.masonry {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
}
/* !!! */
  /* 100% - (5 * 4%) = 80% */
  /* 80%/5 = 16% */
  
  /* 100% - (4 * 4%) = 84% */
  /* 80%/4 = 21% */
  
  /* Media Queries */
@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {
  .gallery ul li {
    width: 21%;
  }
}
  
  /* 100% - (3 * 4%) = 88% */
  /* 88%/3 = 29.33333% */
  
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  .gallery ul li {
    width: 29.33333%
  }
}
  
  /* 100% - (2 * 4%) = 92% */
  /* 92%/2 = 46% */
  
@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
  .gallery ul li {
    width: 46%
  }
}
  
  /* 100% - 4% = 96% */
  /* 96% */
  
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  .gallery ul li {
    width: 96%
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-body {
    margin: 0 60px;
  }

  .portfolio-space {
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-body {
    margin: 0;
  }

  .portfolio-space {
    height: 40px;
  }

  .portfolio-text {
    padding: 10px 20px;
  }
}
