<link rel="canonical" href="https://gost.gomel.by/portfolio"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<head>
  <meta charset="utf-8" name="description"
    content="Наши объекты" />
	<title>SmartPhoto.js</title>
</head>

<body>
  <div class="portfolio">
    <div class="portfolio-space"></div>
  
    <div class="portfolio-body">
      <div class="gallery">
        <section id="gallery-wall">
          <ul>
            <!-- agricultural -->
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-001-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-agr-001" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-001.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Котельная</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-002-min.jpg" class="js-smartphoto" data-caption="Добрушский р-н" data-id="house-agr-002" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-002.jpg" width="127"/>
                <p class="gallery-text-first">Добрушский р-н</p>
                <p class="gallery-text-second">Котельные</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-003-min.jpg" class="js-smartphoto" data-caption="Гомель" data-id="house-agr-003" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-003.jpg" width="127"/>
                <p class="gallery-text-first">Гомель</p>
                <p class="gallery-text-second">Завод "Кристалл"</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-004-min.jpg" class="js-smartphoto" data-caption="МТФ" data-id="house-agr-004" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-004.jpg" width="127"/>
                <p class="gallery-text-first">МТФ</p>
                <p class="gallery-text-second">МТФ</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-005-min.png" class="js-smartphoto" data-caption="МТФ" data-id="house-agr-005" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-005.jpg" width="127"/>
                <p class="gallery-text-first">МТФ</p>
                <p class="gallery-text-second">МТФ</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-006-min.png" class="js-smartphoto" data-caption="Песочная Буда" data-id="house-agr-006" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-006.jpg" width="127"/>
                <p class="gallery-text-first">Песочная Буда</p>
                <p class="gallery-text-second">Птицефабрика "Рассвет"</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-007-min.jpg" class="js-smartphoto" data-caption="Ровковичи" data-id="house-agr-007" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-007.jpg" width="127"/>
                <p class="gallery-text-first">Ровковичи</p>
                <p class="gallery-text-second">Свиноводческий комплекс</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/agricultural/house-agr-008-min.jpg" class="js-smartphoto" data-caption="Хальч" data-id="house-agr-008" data-group="0">
                <img src="../../../assets/img/houses-mini/agricultural/house-agr-008.jpg" width="127"/>
                <p class="gallery-text-first">Хальч</p>
                <p class="gallery-text-second">ОАО "Хальч"</p>
              </a>
            </li>
  
            <!-- residentional -->
            <li>
              <a href="../../../assets/img/houses/residential/house-res-001-min.jpg" class="js-smartphoto" data-caption="Ветка" data-id="house-res-001" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-001.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">Жилой дом, 30 квартир</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-002-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-res-002" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-002.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Жилой дом, 40 квартир</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-003-min.jpg" class="js-smartphoto" data-caption="Калинковичи" data-id="house-res-003" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-003.jpg" width="127"/>
                <p class="gallery-text-first">Калинковичи</p>
                <p class="gallery-text-second">Жилой дом, 45 квартир</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-004-min.jpg" class="js-smartphoto" data-caption="Киров" data-id="house-res-004" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-004.jpg" width="127"/>
                <p class="gallery-text-first">Киров</p>
                <p class="gallery-text-second">Общежитие</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-005-min.jpg" class="js-smartphoto" data-caption="Петриков" data-id="house-res-005" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-005.jpg" width="127"/>
                <p class="gallery-text-first">Петриков</p>
                <p class="gallery-text-second">Жилой дом</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-006-min.jpg" class="js-smartphoto" data-caption="Ровковичи" data-id="house-res-006" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-006.jpg" width="127"/>
                <p class="gallery-text-first">Ровковичи</p>
                <p class="gallery-text-second">Одноквартирные жилые дома</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-007-min.jpg" class="js-smartphoto" data-caption="Чечерск" data-id="house-res-007" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-007.jpg" width="127"/>
                <p class="gallery-text-first">Чечерск</p>
                <p class="gallery-text-second">Жилой дом, 40 квартир</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-008-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-res-008" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-008.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Жилой дом, 60 квартир, 10-й мкр-н</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-009-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-res-009" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-009.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Жилой дом, 40 квартир, мкр-н Озёрный</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-010-min.jpg" class="js-smartphoto" data-caption="Ветка" data-id="house-res-010" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-010.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">Жилой дом, 60 квартир</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-011-min.jpg" class="js-smartphoto" data-caption="Ветка" data-id="house-res-011" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-011.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">Жилой дом</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/residential/house-res-012-min.JPG" class="js-smartphoto" data-caption="Петриков" data-id="house-res-012" data-group="1">
                <img src="../../../assets/img/houses-mini/residential/house-res-012.jpg" width="127"/>
                <p class="gallery-text-first">Петриков</p>
                <p class="gallery-text-second">Жилой дом</p>
              </a>
            </li>
  
            <!-- social -->
            <li>
              <a href="../../../assets/img/houses/social/house-soc-001-min.jpg" class="js-smartphoto" data-caption="Ветка" data-id="house-soc-001" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-001.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">Бассейн</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-002-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-soc-002" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-002.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Больница</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-003-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-soc-003" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-003.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">Гостиница "Четверть века"</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-004-min.jpg" class="js-smartphoto" data-caption="Добруш" data-id="house-soc-004" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-004.jpg" width="127"/>
                <p class="gallery-text-first">Добруш</p>
                <p class="gallery-text-second"></p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-005-min.jpg" class="js-smartphoto" data-caption="Петриков" data-id="house-soc-005" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-005.jpg" width="127"/>
                <p class="gallery-text-first">Петриков</p>
                <p class="gallery-text-second">Дом культуры</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-006-min.jpg" class="js-smartphoto" data-caption="Радуга" data-id="house-soc-006" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-006.jpg" width="127"/>
                <p class="gallery-text-first">Радуга</p>
                <p class="gallery-text-second">ГУО "Радужский детский сад"</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-007-min.jpg" class="js-smartphoto" data-caption="Чечерск" data-id="house-soc-007" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-007.jpg" width="127"/>
                <p class="gallery-text-first">Чечерск</p>
                <p class="gallery-text-second">Прокуратура</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-008-min.jpg" class="js-smartphoto" data-caption="Районная ЦРБ" data-id="house-soc-008" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-008.jpg" width="127"/>
                <p class="gallery-text-first">Районная ЦРБ</p>
                <p class="gallery-text-second">Районная ЦРБ</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-009-min.JPG" class="js-smartphoto" data-caption="Ветка" data-id="house-soc-009" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-009.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">Детский сад</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-010-min.jpg" class="js-smartphoto" data-caption="Чечерск" data-id="house-soc-010" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-010.jpg" width="127"/>
                <p class="gallery-text-first">Чечерск</p>
                <p class="gallery-text-second">СОК "Бриз"</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-011-min.jpg" class="js-smartphoto" data-caption="Петриковский р-н" data-id="house-soc-011" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-011.jpg" width="127"/>
                <p class="gallery-text-first">Петриковский р-н</p>
                <p class="gallery-text-second">Средняя школа</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-012-min.jpg" class="js-smartphoto" data-caption="Ветка" data-id="house-soc-012" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-012.jpg" width="127"/>
                <p class="gallery-text-first">Ветка</p>
                <p class="gallery-text-second">ФОК</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-013-min.jpg" class="js-smartphoto" data-caption="Житковичи" data-id="house-soc-013" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-013.jpg" width="127"/>
                <p class="gallery-text-first">Житковичи</p>
                <p class="gallery-text-second">ФОК</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-014-min.jpg" class="js-smartphoto" data-caption="Радуга" data-id="house-soc-014" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-014.jpg" width="127"/>
                <p class="gallery-text-first">Радуга</p>
                <p class="gallery-text-second">Средняя школа</p>
              </a>
            </li>
            <li>
              <a href="../../../assets/img/houses/social/house-soc-015-min.jpg" class="js-smartphoto" data-caption="Залесье" data-id="house-soc-015" data-group="2">
                <img src="../../../assets/img/houses-mini/social/house-soc-015.jpg" width="127"/>
                <p class="gallery-text-first">Залесье</p>
                <p class="gallery-text-second">Средняя школа</p>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  
    <app-button-up></app-button-up>
    
    <div class="portfolio-space"></div>
  </div>
</body>