.gallery a {
  line-height: 1.7em;
  text-decoration: none;
}
.gallery img {
  border: 2px solid white;
}

.gallery-text-first {
  color: white;
  font-size: 12pt;
  margin-top: 5px;
}

.gallery-text-second {
  color: white;
  font-size: 10pt;
  margin-top: -10px;
}

.portfolio {
  background-image: url(assets\img\portfolio-min.jpg);
  background-size: cover;
  -moz-background-size: cover; /* Firefox 3.6+ */
  -webkit-background-size: cover; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
  -o-background-size: cover; /* Opera 9.6+ */
  min-height: 100vh;
}

.portfolio-body {
  background-color: #009236;
  margin: 0 80px;
  opacity: 1;
}

.portfolio-caption {
  background-color: black;
  color: #009236;
  padding: 20px 40px;
}

.portfolio-space {
  height: 50px;
}

.portfolio-text {
  padding: 20px 40px;
}

.portfolio-undercaption {
  margin-bottom: 10px;
}

.portfolio-undercaption a {
  color: white;
  font-size: 20pt;
  line-height: 2em;
}

/* Gallery */

.gallery {
  width: 90%;
  margin: 30px auto;
  overflow: hidden;
}
  
.gallery ul li {
  min-height: 300px;
  list-style:none;
  float: left;
  font: 10px/1.5 Verdana, Helvetica, Sans-serif;
  width: 16%;
  margin: 2% 2% 10px 2%;
}
  
.gallery ul li a {
  color: #5d5f5d;
}
  
.gallery ul li a img {
  max-width: 100%;
}
  
  /* 100% - (5 * 4%) = 80% */
  /* 80%/5 = 16% */
  
  /* 100% - (4 * 4%) = 84% */
  /* 80%/4 = 21% */
  
  /* Media Queries */
@media only screen and (max-width: 940px), only screen and (max-device-width: 940px) {
  .gallery ul li {
    width: 21%;
  }
}
  
  /* 100% - (3 * 4%) = 88% */
  /* 88%/3 = 29.33333% */
  
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  .gallery ul li {
    width: 29.33333%
  }
}
  
  /* 100% - (2 * 4%) = 92% */
  /* 92%/2 = 46% */
  
@media only screen and (max-width: 530px), only screen and (max-device-width: 530px) {
  .gallery ul li {
    width: 46%
  }
}
  
  /* 100% - 4% = 96% */
  /* 96% */
  
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  .gallery ul li {
    width: 96%
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-body {
    margin: 0 60px;
  }

  .portfolio-space {
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-body {
    margin: 0;
  }

  .portfolio-space {
    height: 40px;
  }

  .portfolio-text {
    padding: 10px 20px;
  }
}
