<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
></script>
<!-- <script type="text/javascript" src="../portfolio/fliplightbox.min.js"></script>
<script type="text/javascript">
  $("body").flipLightBox();
</script> -->

<div>
  <!-- <a href="..\assets\img\x-demo-images\1.gif" class="flipLightBox">
    <img src="..\assets\img\x-demo-images\1.gif" alt="flipLightBox Image 1" />
    <span>
      <b>
        LightBox
      </b>
      Text to accompany first lightbox image
    </span>
  </a>

  <a href="..\assets\img\x-demo-images\2.gif" class="flipLightBox">
    <img src="..\assets\img\x-demo-images\2.gif" alt="flipLightBox Image 2" />
    <span>
      <b>
        LightBox Image 2
      </b>
      <br />Text to accompany 2nd lightbox image
    </span>
  </a>

  <a href="..\assets\img\x-demo-images\3.gif" class="flipLightBox">
    <img src="..\assets\img\x-demo-images\3.gif" alt="flipLightBox Image 3" />
    <span>
      <b>
        LightBox Three
      </b>
      Text to accompany the third lightbox image
    </span>
  </a>

  <a href="..\assets\img\x-demo-images\4.gif" class="flipLightBox">
    <img src="..\assets\img\x-demo-images\4.gif" alt="flipLightBox Image 4" />
    <span>
      <b>
        The Final LightBox
      </b>
      Text to accompany the last of the lighboxes
    </span>
  </a> -->
</div>

<div class="portfolio">
  <div class="portfolio-space"></div>

  <div class="portfolio-body">
    <div class="portfolio-caption">
      <h1>
        <b>ПОРТФОЛИО</b>
      </h1>
    </div>
    <div class="portfolio-text">
      <div class="portfolio-undercaption">
        <div class="portfolio-gallery">
          <!-- Жилые\Ветка, 30 кв. ж. д. -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-001.jpg"
            tabindex="0"
          />

          <!-- Жилые\Житковичи, м-н № 10, 60 кв. ж. д. -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-002.jpg"
            tabindex="0"
          />

          <!-- Жилые\Калинковичи, 45 кв. -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-003.jpg"
            tabindex="0"
          />

          <!-- Жилые\Киров, общежитие -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-004.jpg"
            tabindex="0"
          />

          <!-- Жилые\Петриков -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-005.jpg"
            tabindex="0"
          />

          <!-- Жилые\Ровковичи, 1 кв. ж. д. -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-006.jpg"
            tabindex="0"
          />

          <!-- Жилые\Чечерск, 40 кв. ж. д. -->
          <img
            border="3"
            src="../../../assets/img/houses/residential/house-res-007.jpg"
            tabindex="0"
          />

          <div></div>
        </div>

        <!-- <div class="portfolio-gallery-text">
          <span>Text 1</span>
          <span>Text 2</span>
          <span>Text 3</span>
          <span>Text 4</span>
          <span>Text 5</span>
          <span>Text 6</span>
          <span>Text 7</span>
        </div> -->
      </div>
    </div>

    <div class="portfolio-caption">
      <h1>
        <b>СЕРТИФИКАТЫ</b>
      </h1>
    </div>
    <div class="portfolio-text">
      <div class="portfolio-undercaption">
        <a href="../../../assets/pdf/sertificates/sert-001.pdf">
          Аттестат соответствия №0003850-ГС
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-002.pdf">
          Аттестат соответствия №0009016-СТ
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-003.pdf">
          Лицензия МЧС
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-004.pdf">
          Свидетельство о техкомпетентности 2020-2025
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-005.pdf">
          Свидетельство об оценке сварочного производства
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-006.pdf">
          Сертификат СУОТ
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-007.pdf">
          Сертификат ISO Холдинг
        </a>
      </div>
    </div>
  </div>

  <div class="portfolio-space"></div>
</div>
