.about-us {
  padding: 15px;
}

.about-us .caption {
  transform: translateY(-100px);
  opacity: 0;
}

.about-us .undercaption {
  transform: translateY(200px);
  opacity: 0;
}

.about-us-all {
  background-image: url(assets\img\gost-main-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.about-us-back {
  background-color: #009236;
  opacity: 0.9;
  padding: 20px;
}

.border-main {
  color: white;
  padding: 30px 0;
}

.border-main-block {
  border-left: 5px solid #d5f3b3;
  position: relative;
  margin: 0 auto;
  min-height: 300px;
  width: 80%;
}

.border-main-text {
  margin-left: 50px;
}

.border-main-text.p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.content-table {
  padding: 10%;
}

.main-img-text-space {
  height: 275px;
}

.main-video {
  padding: 10% 0;
  background-color: #d5f3b3;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.main-video-text {
  font-size: 70px;
  text-align: end;
  padding-right: 5%;
  padding-top: 15%;
  position: relative;
  opacity: 1;
}

.main-video-text h1 {
  color: white;
  font-size: 1.15em;
  font-weight: bold;
  margin-right: auto;
  text-align: end;
  text-shadow: 1px 1px 4px #009236;
}

.main-video-text h2 {
  color: #009236;
  font-size: 0.7em;
  text-shadow: 1px 1px 4px black;
}

.main-video video {
  min-height: auto;
  min-width: 100%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  left: 50%;
  top: 50%;
  z-index: 0;
  position: absolute;
}

.text-1 {
  color: #009236;
  font-size: 2.8em;
  font-style: italic;
  font-weight: bold;
}

.text-2 {
  font-size: 1.4em;
}

.undercaption {
  color: white;
}

.w-100 {
  min-height: 800px;
}

#myCarousel {
  height: 800px;
}

#t1 {
  font-size: 66px;
  font-weight: 400;
}

#t2 {
  font-size: 36px;
}

/*Knopka Verx*/
/* .upbtn {
  opacity: 0.7;
  z-index: 9999;
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: -80px;
  right: 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #d2e3f1;
  transition: all 0.7s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #17527b;
  background-size: 50% auto;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCIgdmlld0JveD0iMCAwIDQ0NC44MTkgNDQ0LjgxOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDQ0LjgxOSA0NDQuODE5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPHBhdGggZD0iTTQzMy45NjgsMjc4LjY1N0wyNDguMzg3LDkyLjc5Yy03LjQxOS03LjA0NC0xNi4wOC0xMC41NjYtMjUuOTc3LTEwLjU2NmMtMTAuMDg4LDAtMTguNjUyLDMuNTIxLTI1LjY5NywxMC41NjYgICBMMTAuODQ4LDI3OC42NTdDMy42MTUsMjg1Ljg4NywwLDI5NC41NDksMCwzMDQuNjM3YzAsMTAuMjgsMy42MTksMTguODQzLDEwLjg0OCwyNS42OTNsMjEuNDExLDIxLjQxMyAgIGM2Ljg1NCw3LjIzLDE1LjQyLDEwLjg1MiwyNS42OTcsMTAuODUyYzEwLjI3OCwwLDE4Ljg0Mi0zLjYyMSwyNS42OTctMTAuODUyTDIyMi40MSwyMTMuMjcxTDM2MS4xNjgsMzUxLjc0ICAgYzYuODQ4LDcuMjI4LDE1LjQxMywxMC44NTIsMjUuNywxMC44NTJjMTAuMDgyLDAsMTguNzQ3LTMuNjI0LDI1Ljk3NS0xMC44NTJsMjEuNDA5LTIxLjQxMiAgIGM3LjA0My03LjA0MywxMC41NjctMTUuNjA4LDEwLjU2Ny0yNS42OTNDNDQ0LjgxOSwyOTQuNTQ1LDQ0MS4yMDUsMjg1Ljg4NCw0MzMuOTY4LDI3OC42NTd6IiBmaWxsPSIjRkZGRkZGIi8+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
}
.upbtn:hover {
  opacity: 1;
  background-color: #337ab7;
} */

@media screen and (max-width: 1024px) {
  .about-us-all {
    padding: 80px;
  }

  .border-main-text {
    margin-left: 40px;
  }

  .text-1 {
    font-size: 2.2em;
  }

  .text-2 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 768px) {
  .about-us-all {
    padding: 50px;
  }

  .border-main-text {
    margin-left: 30px;
  }

  .main-img-text h1 {
    font-size: 4.5em;
  }

  .main-img-text h2 {
    font-size: 2.1em;
  }

  .text-1 {
    font-size: 1.8em;
  }

  .text-2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 640px) {
  .caption {
    display: none;
  }

  .text-1 {
    font-size: 1.3em;
  }

  .text-2 {
    font-size: 1.15em;
  }

  .undercaption {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .about-us-all {
    padding: 25px;
  }

  .border-main-text {
    margin-left: 20px;
  }
}

@media (max-aspect-ratio: 16/9) {
  #trailer > video {
    left: -100%;
    width: 300%;
  }
}

@media (min-aspect-ratio: 16/9) {
  #trailer > video {
    height: 300%;
    top: -100%;
  }
}
