.border-main-text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    float: none;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
    white-space: pre;
}

.letter.out {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
    transform: rotateX(90deg);
    /* transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sentence {
    color: black;
}

.wisteria {
    color: #8e44ad;
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #d6da18;
}
