@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css");
@import "../../footer/footer.component.css";

* {
  outline: 0 !important;
}
/* Remove border and padding in Firefox */
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.buttons {
  padding-right: 20px;
  width: 300px;
}
.buttons button {
  background-color: #f5f5f7;
  border: none;
  cursor: pointer;
  display: block;
  margin: 5px;
  padding: 4px 10px;
  text-align: start;
  text-decoration: none;
  width: 200px;
}
.current {
  background-color: #77dd77!important;
}
.buttons button:hover, .current:hover {
  background-color: #3f3f3f!important;
  color: white;
}

.contact-info {
  width: 20%;
}

.contact-map {
  width: 80%;
}

.contact-name {
  font-weight: bold;
  margin: 20px 0 0 -20px;
  position: absolute;
  text-align: -webkit-center;
}
.contact-name td {
  text-align: center;
}

.department {
  background-color: darkgray;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.hidden {
  display: none;
}

.fa, .fas {
  margin-top: 5px;
  padding-left: 20px;
  position: absolute;
}

.info {
  color: #3f3f3f;
  font-size: 20pt;
  font-weight: bold;
}

.info-text {
  margin-right: 40px;
}

.last-space {
  height: 20px;
}

.map {
  align-content: center;
  margin: -2px -2px -28px 40px;
}

/* .material-icons {
  font-size: 12pt;
} */

.pre-table {
  margin: 10px 10px -10px 10px;
  padding-top: 25px;
}

.yMap {
  min-height: calc(100vh - 150px);
  width: 100%;
}

details {
  text-align: left;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

summary {
  font-weight: bold;
  margin: -40px 0 0 -20px;
  padding: 10px;
  text-align: -webkit-center;
}

table {
  height: 600px;
  width: 100%;
}

tbody tr td {
  padding: 5px;
}

td {
  line-height: 1.5;
  text-align: right;
}

thead {
  background-color: gray;
  color: white;
}
thead tr th {
  padding: 5px 10px 5px 10px !important;
}

/* @media (min-width: 32em) {
  .col-lg-4 {
    margin-top: 0;
  }

  .yMap {
    margin: 0 0 15px 0;
    max-height: 360px;
  }
}

@media (min-width: 40em) {
  .col-lg-4 {
    margin-top: 0;
  }

  .yMap {
    margin: 0 0 15px 0;
  }
} */
