@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css");
@import "../../footer/footer.component.css";

.bg-dark {
  background-color: #343a40 !important;
}

.col-lg-4 {
  align-self: center;
  line-height: 1.5;
  margin-top: 35px;
}

.container {
  background-color: #d5f3b3;
  margin: 20px auto;
}

.department {
  background-color: darkgray;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.h4 {
  padding: 10px 0 20px 0;
  font-size: 24pt;
}

.last-space {
  height: 20px;
}

.map {
  align-content: center;
  margin-top: 20px;
  padding: 0 30px;
}

.material-icons {
  font-size: 12pt;
}

.pb-0 {
  font-style: italic;
  margin-right: 40px;
  text-align: right;
}

.pre-table {
  margin: 0px 10px -10px 10px;
  padding-top: 25px;
}

.row {
  margin: 20px 0px 20px 10px;
  padding-bottom: 20px;
}

.table {
  border: 2px solid black;
  font-size: 13pt;
}

.table-contacts {
  line-height: 2.2;
  text-align: center;
}

/* .yMap {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 12px #009236;
  height: 100%;
  margin: 20px 0px 20px -25px;
  min-height: 480px;
  width: 99%;
} */

details {
  text-align: left;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}
/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
  content: "\271A";
  font-family: "Font Awesome 5 free";
  margin-right: 7px;
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:before {
  content: "\2013";
}

summary {
  font-size: 18.5pt;
  font-style: oblique;
  font-weight: bold;
  margin-bottom: -10px;
  padding: 10px;
  text-align: left;
}

summary p {
  font-family: auto;
  font-size: 16pt;
  margin: 0px 15px 0px 0px;
  text-align: right;
}

tbody tr td {
  padding: 5px;
}

thead {
  background-color: gray;
  color: white;
}

thead tr th {
  padding: 5px 10px 5px 10px !important;
}

* {
  outline: 0 !important;
}
/* Remove border and padding in Firefox */
::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* !!! new */

.buttons {
  width: 300px;
}
.buttons button {
  background-color: #77dd77;
  border: none;
  cursor: pointer;
  display: block;
  margin: 5px;
  padding: 4px 10px;
  text-align: start;
  text-decoration: none;
  width: 200px;
}

.contact-info {
  width: 300px;
}

.hidden {
  display: none;
}

.fa, .fas {
  margin-top: 5px;
  padding-left: 20px;
  position: absolute;
}

.info {
  color: #3f3f3f;
  font-size: 20pt;
  font-weight: bold;
}

.info-text {
  margin-right: 40px;
}

table {
  height: 600px;
  width: 100%;
}

td {
  line-height: 1.5;
  text-align: right;
}

/* @media (min-width: 32em) {
  .col-lg-4 {
    margin-top: 0;
  }

  .yMap {
    margin: 0 0 15px 0;
    max-height: 360px;
  }
}

@media (min-width: 40em) {
  .col-lg-4 {
    margin-top: 0;
  }

  .yMap {
    margin: 0 0 15px 0;
  }
} */
