<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- <button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->

<!-- gost -->
<section class="container">
  <p class="organization">
    ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Должность</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>телефон</span>
          </th>
          <!-- <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>директор</td>
          <td>Ковалёв Сергей Николаевич</td>
          <td>(0232) 233311</td>
        </tr>
        <tr>
          <td>секретарь приёмной</td>
          <td>Попова Елена Владимировна</td>
          <td>(0232) 233311</td>
        </tr>
        <tr>
          <td>главный инженер</td>
          <td>Маркевич Иван Михайлович</td>
          <td>(0232) 233311</td>
        </tr>
        <tr>
          <td>замдиректора по эконом. вопросам и идеол. работе</td>
          <td>Рог Валентина Петровна</td>
          <td>(0232) 233311</td>
        </tr>
        <tr>
          <td>главный спец. по охране труда</td>
          <td>Одинцова Елена Александровна</td>
          <td>(0232) 234669</td>
        </tr>
        <tr>
          <td>зам. главного инженера</td>
          <td>Кривонос Александр Михайлович</td>
          <td>(029) 6662749</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Специалист по кадрам, юрист</td>
        </tr>
        <tr>
          <td>ведущий спец. по кадрам</td>
          <td>Гусак Светлана Николаевна</td>
          <td>(0232) 234669</td>
        </tr>
        <tr>
          <td>ведущий юрисконсульт</td>
          <td>Белоусова Елизавета Александровна</td>
          <td>(0232) 234689</td>
        </tr>
        <tr>
          <td>ведущий юрисконсульт</td>
          <td>Иванова Анастасия Сергеевна</td>
          <td>(0232) 234689</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Планово-экономическое бюро</td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Ключинская Ольга Васильевна</td>
          <td>(0232) 233392</td>
        </tr>
        <tr>
          <td>ведущий экономист</td>
          <td>Дупанова Ирина Петровна</td>
          <td>(0232) 233392</td>
        </tr>
        <tr>
          <td>ведущий экономист</td>
          <td>Тозик Анна Викторовна</td>
          <td>(0232) 233392</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Отдел по снабжению</td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Грамотеева Наталья Николаевна</td>
          <td>(0232) 504830</td>
        </tr>
        <tr>
          <td>замначальника</td>
          <td>Курченок Игорь Николаевич</td>
          <td>(0232) 206336</td>
        </tr>
        <tr>
          <td>экономист по МТС</td>
          <td>Мокеев Алексей Борисович</td>
          <td>(0232) 206336</td>
        </tr>
        <tr>
          <td>ведущий инженер по МТС</td>
          <td>Евмененко Людмила Николаевна</td>
          <td>(0232) 234276</td>
        </tr>
        <tr>
          <td>ведущий инженер по МТС</td>
          <td>Дубовик Сергей Владимирович</td>
          <td>(0232) 234276</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Бухгалтерия</td>
        </tr>
        <tr>
          <td>главный бухгалтер</td>
          <td>Ковалёва Инна Александровна</td>
          <td>(0232) 233350</td>
        </tr>
        <tr>
          <td>зам. главного бухгалтера</td>
          <td>Пискун Ольга Константиновна</td>
          <td>(0232) 205580</td>
        </tr>
        <tr>
          <td>ведущий бухгалтер</td>
          <td>Самусева Светлана Геннадьевна</td>
          <td>(0232) 205580</td>
        </tr>
        <tr>
          <td>ведущий бухгалтер</td>
          <td>Гулевич Елена Ивановна</td>
          <td>(0232) 205580</td>
        </tr>

        <tr>
          <td colspan="3" class="department">
            Производственно-технический отдел
          </td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Жигунова Ксения Витальевна</td>
          <td>(029) 3802034</td>
        </tr>
        <tr>
          <td>ведущий инженер</td>
          <td>Виноградова Елена Николаевна</td>
          <td>(044) 5023280</td>
        </tr>
        <tr>
          <td>инженер по сметной работе</td>
          <td>Рогозина Людмила Константиновна</td>
          <td>(044) 7419669</td>
        </tr>
        <tr>
          <td>инженер по сметной работе</td>
          <td>Долгая Алла Васильевна</td>
          <td>(044) 5670742</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Сектор менеджмента качества</td>
        </tr>
        <tr>
          <td>ведущий инженер по качеству</td>
          <td>Клемпач Наталья Николаевна</td>
          <td>(044) 5057505</td>
        </tr>
        <tr>
          <td>инженер по качеству</td>
          <td>Рыжакова Елена Валерьевна</td>
          <td>(025) 7939414</td>
        </tr>
        <tr>
          <td>техник-геодезист</td>
          <td>Симоненок Николай Сергеевич</td>
          <td>(029) 1666399</td>
        </tr>
        <tr>
          <td>техник-геодезист</td>
          <td>Берашевич Сергей Вячеславович</td>
          <td>(029) 2848734</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Главный механик</td>
        </tr>
        <tr>
          <td>главный механик</td>
          <td>Ляшук Сергей Владимирович</td>
          <td>(044) 7082950</td>
        </tr>

        <tr>
          <td colspan="3" class="department">
            Отдел по тендерам и договорной работе
          </td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Чмель Татьяна Николаевна</td>
          <td>(0232) 501161</td>
        </tr>
        <tr>
          <td>юрисконсульт</td>
          <td>Филоненко Оксана Леонидовна</td>
          <td>(0232) 501161</td>
        </tr>
        <tr>
          <td>инженер по сметной работе</td>
          <td>Матвеева Алла Фёдоровна</td>
          <td>(0232) 501161</td>
        </tr>
        <tr>
          <td>инженер по сметной работе</td>
          <td>Зур Екатерина Владимировна</td>
          <td>(0232) 501161</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Участок специальных работ</td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Авсиевич Андрей Анатольевич</td>
          <td>(044) 5797045</td>
        </tr>
        <tr>
          <td>мастер</td>
          <td>Левин Вячеслав Борисович</td>
          <td>(044) 5579392</td>
        </tr>
        <tr>
          <td>мастер УСР</td>
          <td>Мартусевич Александр Евгеньевич</td>
          <td>(044) 5356505</td>
        </tr>
        <tr>
          <td>ведущий инженер МТС</td>
          <td>Можный Руслан Викторович</td>
          <td>(029) 6724584</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Участок электромонтажных работ</td>
        </tr>
        <tr>
          <td>начальник</td>
          <td>Рапатуев Сергей Владимирович</td>
          <td>(044) 7640160</td>
        </tr>
        <tr>
          <td>прораб</td>
          <td>Тимошенко Александр Егорович</td>
          <td>(029) 1883714</td>
        </tr>
        <tr>
          <td>мастер</td>
          <td>Рог Иван Константинович</td>
          <td>(044) 7905350</td>
        </tr>
        <tr>
          <td>инженер МТС</td>
          <td>Кухорев Алексей Фёдорович</td>
          <td>(029) 6263730</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Руководитель проекта</td>
        </tr>
        <tr>
          <td>руководитель проекта</td>
          <td>Елисеев Андрей Евгеньевич</td>
          <td>(044) 5772246</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 400022439<br />
        246028, Гомельская обл.,<br />
        г. Гомель, ул. Советская, д. 126
      </p>

      <h2 class="h4 m-0">
        Время работы:
      </h2>
      <p class="pb-0">
        пн-пт: 8:00 – 17:00<br />
        обед: 12:00 – 13:00<br />
        сб-вс: выходной
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        gost@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-gost"></div>
    </div>
  </div>
</section>

<!-- up jsk -->
<section class="container">
  <p class="organization">
    УП ЖСК ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Должность</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>телефон</span>
          </th>
          <!-- <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>главный бухгалтер</td>
          <td>Горбачёва Елена Евгеньевна</td>
          <td>(0232) 584808</td>
        </tr>
        <tr>
          <td>техник по договорной работе</td>
          <td>Агиевич Светлана Антоновна</td>
          <td>(0232) 230628</td>
        </tr>
        <tr>
          <td>мастер по эксплуатации жилфонда</td>
          <td>Атрашкевич Нина Петровна</td>
          <td>(0232) 234730</td>
        </tr>
        <tr>
          <td>энергетик</td>
          <td>Болотский Андрей Александрович</td>
          <td>(029) 5323494</td>
        </tr>

        <tr>
          <td colspan="3" class="department">Водитель</td>
        </tr>
        <tr>
          <td>водитель</td>
          <td>Бородин Дмитрий Викторович</td>
          <td>(044) 7643064</td>
        </tr>
        <tr>
          <td>водитель ЖСК</td>
          <td>Покидько Евгений Валерьянович</td>
          <td>(029) 1217452</td>
        </tr>
        <tr>
          <td>водитель</td>
          <td>Царик Владимир Николаевич</td>
          <td>(029) 2202414</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Кутека Максим Владимирович</td>
          <td>(044) 7560524</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Курзов Юрий Александрович</td>
          <td>(029) 1370415</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Ивахненко Дмитрий Владимирович</td>
          <td>(029) 1991958</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Смальцер Сергей Александрович</td>
          <td>(029) 3374138</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Тимошенко Александр Анатольевич</td>
          <td>(044) 7475825</td>
        </tr>
        <tr>
          <td>водитель УСР</td>
          <td>Плотонов Сергей Владимирович</td>
          <td>(029) 3151264</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        УП ЖСК ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 400022439<br />
        246028, Гомельская обл.,<br />
        г. Гомель, ул. Советская, д. 126
      </p>

      <h2 class="h4 m-0">
        Время работы:
      </h2>
      <p class="pb-0">
        пн-пт: 8:00 – 17:00<br />
        обед: 12:00 – 13:00<br />
        сб-вс: выходной
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        jsk@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-jsk"></div>
    </div>
  </div>
</section>

<!-- pmk-4 -->
<section class="container">
  <p class="organization">
    ПМК-4 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Пинчук Мария Леонидовна</td>
          <td>(02350) 20934</td>
          <td>(029) 1696317</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Пискун Елена Фёдоровна</td>
          <td>(02350) 21167</td>
          <td>(029) 1466570</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Старовойтова Ольга Валентиновна</td>
          <td>(02350) 21079</td>
          <td>(029) 1197855</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-4 ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 400031327<br />
        274920, Гомельская обл.,<br />
        Петриковский р-н, Копаткевичский с/с,<br />
        гп Копаткевичи, пер. Мелиоративный, д. 4
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02350) 20934 (201)<br />
        факс (02350) 21079 (202)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk4@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-4"></div>
    </div>
  </div>
</section>

<!-- pmk-5 -->
<section class="container">
  <p class="organization">
    ПМК-5 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Рыкунова Юлия Витальевна</td>
          <td>(02333) 56928</td>
          <td>(044) 7394163</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Северинец Елена Викторовна</td>
          <td>(02333) 56951</td>
          <td>(044) 5422605</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Коленченко Александр Владимирович</td>
          <td></td>
          <td>(029) 3888218</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-5 ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 401163570<br />
        247050, Гомельская обл.,<br />
        г. Добруш, пер. Крылова, д. 4
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02333) 56928 (603)<br />
        факс (02333) 56951 (605)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk5@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-5"></div>
    </div>
  </div>
</section>

<!-- pmk-16 -->
<section class="container">
  <p class="organization">
    ПМК-16 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Сальникова Наталья Алексеевна</td>
          <td>(0232) 214490</td>
          <td>(044) 5800914</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Денисенко Татьяна Яковлевна</td>
          <td>(0232) 214109</td>
          <td>(029) 1077027</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Аникеева Наталья Митрофановна</td>
          <td>(0232) 264466</td>
          <td>(029) 7229458</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ППО ПМК-16 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 400237992<br />
        246010, г. Гомель,<br />
        ул. Могилевская, д. 23
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (0232) 214109 (503)<br />
        факс (0232) 264466 (501)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk16@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-16"></div>
    </div>
  </div>
</section>

<!-- pmk-43 -->
<section class="container">
  <p class="organization">
    ППО ПМК-43 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Лис Алла Николаевна</td>
          <td>(02345) 54387</td>
          <td>(044) 7811958</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Борисенко Наталья Филаретовна</td>
          <td>(02345) 52850</td>
          <td>(029) 6034994</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Хомич Сергей Григорьевич</td>
          <td>(02345) 52873</td>
          <td>(044) 7811182</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ППО ПМК-43 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 401149654<br />
        247710, Гомельская обл.,<br />
        г. Калинковичи, ул. Островского, д. 36
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02345) 54387 (402)<br />
        факс (02345) 52886 (403)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk43@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-43"></div>
    </div>
  </div>
</section>

<!-- pmk-76 -->
<section class="container">
  <p class="organization">
    ПМК-76 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Бек Елена Викторовна</td>
          <td>(02353) 33293</td>
          <td>(044) 7899826</td>
        </tr>
        <tr>
          <td rowspan="2">бухгалтерия</td>
          <td>Романюк Любовь Васильевна</td>
          <td>(02353) 33260</td>
          <td>(044) 5959535</td>
        </tr>
        <tr>
          <td>Батова Елена Леонидовна</td>
          <td>(02353) 33260</td>
          <td>(044) 5959560</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Кислюк Галина Николаевна</td>
          <td>(02353) 33236</td>
          <td>(044) 5959544</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-76 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 400050033<br />
        247960, Гомельская обл.,<br />
        г. Житковичи, ул. Октябрьская, д. 57
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        телефон (02353) 33293<br />
        факс (02353) 33291 (707)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk76@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-76"></div>
    </div>
  </div>
</section>
