<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- <button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div> -->

<!-- gost -->
<section class="container">
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Попова Елена Владимировна</td>
          <td>(0232) 233311</td>
          <td>(044) 7800875</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Ковалёва Инна Александровна</td>
          <td>(0232) 233350</td>
          <td>(029) 1539284</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Ушлаков Вячеслав Николаевич</td>
          <td></td>
          <td>(029) 6196850</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 400022439<br />
        246028, Гомельская обл.,<br />
        г. Гомель, ул. Советская, д. 126
      </p>

      <h2 class="h4 m-0">
        Время работы:
      </h2>
      <p class="pb-0">
        пн-пт: 8:00 – 17:00<br />
        обед: 12:00 – 13:00<br />
        сб-вс: выходной
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        gost@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-gost"></div>
    </div>
  </div>
</section>

<!-- pmk-4 -->
<section class="container">
  <p class="organization">
    ПМК-4 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Пинчук Мария Леонидовна</td>
          <td>(02350) 20934</td>
          <td>(029) 1696317</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Пискун Елена Фёдоровна</td>
          <td>(02350) 21167</td>
          <td>(029) 1466570</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Старовойтова Ольга Валентиновна</td>
          <td>(02350) 21079</td>
          <td>(029) 1197855</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-4 ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 400031327<br />
        274920, Гомельская обл.,<br />
        Петриковский р-н, Копаткевичский с/с,<br />
        гп Копаткевичи, пер. Мелиоративный, д. 4
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02350) 20934 (201)<br />
        факс (02350) 21079 (202)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk4@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-4"></div>
    </div>
  </div>
</section>

<!-- pmk-5 -->
<section class="container">
  <p class="organization">
    ПМК-5 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Рыкунова Юлия Витальевна</td>
          <td>(02333) 56928</td>
          <td>(044) 7394163</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Северинец Елена Викторовна</td>
          <td>(02333) 56951</td>
          <td>(044) 5422605</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Коленченко Александр Владимирович</td>
          <td></td>
          <td>(029) 3888218</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-5 ОАО "Гомельский объединённый<br />
        строительный трест"<br />
        УНП 401163570<br />
        247050, Гомельская обл.,<br />
        г. Добруш, пер. Крылова, д. 4
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02333) 56928 (603)<br />
        факс (02333) 56951 (605)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk5@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-5"></div>
    </div>
  </div>
</section>

<!-- pmk-16 -->
<section class="container">
  <p class="organization">
    ПМК-16 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Сальникова Наталья Алексеевна</td>
          <td>(0232) 214490</td>
          <td>(044) 5800914</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Денисенко Татьяна Яковлевна</td>
          <td>(0232) 214109</td>
          <td>(029) 1077027</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Аникеева Наталья Митрофановна</td>
          <td>(0232) 264466</td>
          <td>(029) 7229458</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ППО ПМК-16 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 400237992<br />
        246010, г. Гомель,<br />
        ул. Могилевская, д. 23
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (0232) 214109 (503)<br />
        факс (0232) 264466 (501)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk16@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-16"></div>
    </div>
  </div>
</section>

<!-- pmk-43 -->
<section class="container">
  <p class="organization">
    ППО ПМК-43 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Лис Алла Николаевна</td>
          <td>(02345) 54387</td>
          <td>(044) 7811958</td>
        </tr>
        <tr>
          <td>бухгалтерия</td>
          <td>Борисенко Наталья Филаретовна</td>
          <td>(02345) 52850</td>
          <td>(029) 6034994</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Хомич Сергей Григорьевич</td>
          <td>(02345) 52873</td>
          <td>(044) 7811182</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ППО ПМК-43 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 401149654<br />
        247710, Гомельская обл.,<br />
        г. Калинковичи, ул. Островского, д. 36
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        факс (02345) 54387 (402)<br />
        факс (02345) 52886 (403)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk43@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-43"></div>
    </div>
  </div>
</section>

<!-- pmk-76 -->
<section class="container">
  <p class="organization">
    ПМК-76 ОАО "Гомельский объединённый строительный трест"
  </p>
  <div class="pre-table">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Отдел</th>
          <th>ФИО</th>
          <th>
            <span class="material-icons">
              call
            </span>
            &nbsp;
            <span>служебный</span>
          </th>
          <th>
            <span class="material-icons">
              phone_android
            </span>
            &nbsp;
            <span>мобильный</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>приёмная</td>
          <td>Бек Елена Викторовна</td>
          <td>(02353) 33293</td>
          <td>(044) 7899826</td>
        </tr>
        <tr>
          <td rowspan="2">бухгалтерия</td>
          <td>Романюк Любовь Васильевна</td>
          <td>(02353) 33260</td>
          <td>(044) 5959535</td>
        </tr>
        <tr>
          <td>Батова Елена Леонидовна</td>
          <td>(02353) 33260</td>
          <td>(044) 5959560</td>
        </tr>
        <tr>
          <td>начальник ПТО</td>
          <td>Кислюк Галина Николаевна</td>
          <td>(02353) 33236</td>
          <td>(044) 5959544</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2 class="h4 m-0">
        Реквизиты:
      </h2>
      <p class="pb-0">
        ПМК-76 ОАО "Гомельский<br />
        объединённый строительный трест"<br />
        УНП 400050033<br />
        247960, Гомельская обл.,<br />
        г. Житковичи, ул. Октябрьская, д. 57
      </p>

      <h2 class="h4 m-0">
        Обратная связь:
      </h2>
      <p class="pb-0">
        телефон (02353) 33293<br />
        факс (02353) 33291 (707)
      </p>

      <h2 class="h4 m-0">
        Почта:
      </h2>
      <p class="pb-0">
        pmk76@gost.gomel.by
      </p>
    </div>
    <div class="col-lg-8 map">
      <div class="yMap" id="yMap-pmk-76"></div>
    </div>
  </div>
</section>
