<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<head>
  <meta charset="utf-8" name="description"
    content="246028, г. Гомель, ул. Советская, д. 126 | телефон 8-0232-233311" />
</head>

<body>
  <table>
    <tr class="contact-name">
      <td colspan="2">ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">ПМК-4 ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">ПМК-5 ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">ПМК-16 ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">ПМК-43 ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">ПМК-76 ОАО "Гомельский объединённый строительный трест"</td>
    </tr>
    <tr class="contact-name hidden">
      <td colspan="2">УП ЖСК ОАО "Гомельский объединённый строительный трест"</td>
    </tr>

    <tr>
      <td class="buttons">
        <button on-click="showCurrentContact($event)" class="current">ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">ПМК-4 ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">ПМК-5 ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">ПМК-16 ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">ПМК-43 ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">ПМК-76 ОАО "ГОСТ"</button>
        <button on-click="showCurrentContact($event)">УП ЖСК ОАО "ГОСТ"</button>
      </td>

      <td>
        <table>
          <!-- gost -->
          <tr>
            <td class="contact row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 0232 233311
                    <i class="fa fa-phone mr-3"></i>
                  </div>
                  <div class="info-text">
                    gost@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>
              
                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 400022439<br />
                    246028, Гомельская обл.,<br />
                    г. Гомель, ул. Советская, д. 126
                  </div>
                  <br />
                </div>
                
                <div>
                  <div class="info">Время работы</div>
                  <br />
                  <div>
                    пн-пт: 8:00 – 17:00<br />
                    обед: 12:00 – 13:00<br />
                    сб-вс: выходной
                  </div>
                </div>
              </div>
              <!--div class="contact-map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="map">
                  <div class="yMap" id="yMap-gost"></div>
                </div>
              </div-->
              <div class="yMap col-xl-7 col-lg-7 col-md-12 col-sm-12" id="yMap-gost">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A94588fbb60cb6bb87b989a866a1beab5b1e7bb0a5381732241bbb1e991e107e1&amp;width=896&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
              </div>
            </td>
          </tr>

          <!-- pmk-4 -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 02350 21079
                    <i class="fa fa-phone mr-3"></i><br />
                    (02350) 20934 (201)
                    <i class="fa fa-fax" aria-hidden="true"></i><br />
                    (02350) 21079 (202)
                    <i class="fa fa-fax" aria-hidden="true"></i>
                  </div>
                  <div class="info-text">
                    pmk4@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>
  
                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 400031327<br />
                    274920, Гомельская обл.,<br />
                    Петриковский р-н, Копаткевичский с/с,<br />
                    гп Копаткевичи, пер. Мелиоративный, д. 4
                  </div>
                </div>
  
                <!-- <details>
                  <summary>Полный список контактов</summary>
                  <div></div>
                </details> -->
              </div>
              
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-pmk-4"></div>
              </div> -->
            </td>
          </tr>

          <!-- pmk-5 -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 02333 56928
                    <i class="fa fa-phone mr-3"></i><br />
                    (02333) 56928 (603)
                    <i class="fa fa-fax" aria-hidden="true"></i><br />
                    (02333) 56951 (605)
                    <i class="fa fa-fax" aria-hidden="true"></i>
                  </div>
                  <div class="info-text">
                    pmk5@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>
                
                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 401163570<br />
                    247050, Гомельская обл.,<br />
                    г. Добруш, пер. Крылова, д. 4
                  </div>
                </div>
              </div>

              <!-- <details>
                <summary>Полный список контактов</summary>
                <div></div>
              </details> -->
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-pmk-5"></div>
              </div> -->
            </td>
          </tr>

          <!-- pmk-16 -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 0232 214490
                    <i class="fa fa-phone mr-3"></i><br />
                    (02333) 56928 (603)
                    <i class="fa fa-fax" aria-hidden="true"></i><br />
                    (02333) 56951 (605)
                    <i class="fa fa-fax" aria-hidden="true"></i>
                  </div>
                  <div class="info-text">
                    pmk16@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>

                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 400237992<br />
                    246010, г. Гомель,<br />
                    ул. Могилевская, д. 23
                  </div>
                </div>
              </div>

              <!-- <details>
                <summary>Полный список контактов</summary>
                <div></div>
              </details> -->
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-pmk-16"></div>
              </div> -->
            </td>
          </tr>

          <!-- pmk-43 -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 02345 54387
                    <i class="fa fa-phone mr-3"></i><br />
                    (02333) 56928 (603)
                    <i class="fa fa-fax" aria-hidden="true"></i><br />
                    (02345) 52886 (403)
                    <i class="fa fa-fax" aria-hidden="true"></i>
                  </div>
                  <div class="info-text">
                    pmk43@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>

                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 401149654<br />
                    247710, Гомельская обл.,<br />
                    г. Калинковичи, ул. Островского, д. 36
                  </div>
                </div>
              </div>

              <!-- <details>
                <summary>Полный список контактов</summary>
                <div></div>
              </details> -->
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-pmk-43"></div>
              </div> -->
            </td>
          </tr>

          <!-- pmk-76 -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    8 02353 33293
                    <i class="fa fa-phone mr-3"></i><br />
                    (02353) 33293
                    <i class="fa fa-fax" aria-hidden="true"></i><br />
                    (02353) 33291 (707)
                    <i class="fa fa-fax" aria-hidden="true"></i>
                  </div>
                  <div class="info-text">
                    pmk76@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>

                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 400050033<br />
                    247960, Гомельская обл.,<br />
                    г. Житковичи, ул. Октябрьская, д. 57
                  </div>
                </div>
              </div>

              <!-- <details>
                <summary>Полный список контактов</summary>
                <div></div>
              </details> -->
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-pmk-76"></div>
              </div> -->
            </td>
          </tr>

          <!-- up-jsk -->
          <tr>
            <td class="contact hidden row no-gutters">
              <div class="contact-info offset-xl-2 col-xl-3 offset-lg-2 col-lg-3 offset-md-5 col-md-3 offset-sm-2 col-sm-6">
                <div>
                  <div class="info">Контакты</div>
                  <br />
                  <div class="info-text">
                    jsk@gost.gomel.by
                    <i class="fas fa-at"></i>
                  </div>
                  <br />
                </div>

                <div>
                  <div class="info">Реквизиты</div>
                  <br />
                  <div>
                    УНП 400022439<br />
                    246028, Гомельская обл.,<br />
                    г. Гомель, ул. Советская, д. 126
                  </div>
                </div>
              </div>
              
              <!-- <details>
                <summary>Полный список контактов</summary>
                <div></div>
              </details> -->
              <!-- <div class="map col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="yMap" id="yMap-jsk"></div>
              </div> -->
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- gost -->
    <tr class="contact-list">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>директор</td>
                  <td>Ковалёв Сергей Николаевич</td>
                  <td>(0232) 233311</td>
                </tr>
                <tr>
                  <td>секретарь приёмной</td>
                  <td>Попова Елена Владимировна</td>
                  <td>(0232) 233311</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Маркевич Иван Михайлович</td>
                  <td>(0232) 233311</td>
                </tr>
                <tr>
                  <td>замдиректора по эконом. вопросам и идеол. работе</td>
                  <td>Рог Валентина Петровна</td>
                  <td>(0232) 233311</td>
                </tr>
                <tr>
                  <td>главный спец. по охране труда</td>
                  <td>Одинцова Елена Александровна</td>
                  <td>(0232) 234669</td>
                </tr>
                <tr>
                  <td>зам. главного инженера</td>
                  <td>Кривонос Александр Михайлович</td>
                  <td>(029) 6662749</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Специалист по кадрам, юрист</td>
                </tr>
                <tr>
                  <td>ведущий спец. по кадрам</td>
                  <td>Гусак Светлана Николаевна</td>
                  <td>(0232) 234669</td>
                </tr>
                <tr>
                  <td>ведущий юрисконсульт 2 категории</td>
                  <td>Белоусова Елизавета Александровна</td>
                  <td>(0232) 234389</td>
                </tr>
                <tr>
                  <td>ведущий юрисконсульт</td>
                  <td>Иванова Анастасия Сергеевна</td>
                  <td>(0232) 234689</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Планово-экономическое бюро</td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Ключинская Ольга Васильевна</td>
                  <td>(0232) 233392</td>
                </tr>
                <tr>
                  <td>ведущий экономист</td>
                  <td>Дупанова Ирина Петровна</td>
                  <td>(0232) 233392</td>
                </tr>
                <tr>
                  <td>ведущий экономист</td>
                  <td>Тозик Анна Викторовна</td>
                  <td>(0232) 233392</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Отдел по снабжению</td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Грамотеева Наталья Николаевна</td>
                  <td>(0232) 504830</td>
                </tr>
                <tr>
                  <td>замначальника</td>
                  <td>Курченок Игорь Николаевич</td>
                  <td>(0232) 206336</td>
                </tr>
                <tr>
                  <td>экономист по МТС</td>
                  <td>Мокеев Алексей Борисович</td>
                  <td>(0232) 206336</td>
                </tr>
                <tr>
                  <td>ведущий инженер по МТС</td>
                  <td>Евмененко Людмила Николаевна</td>
                  <td>(0232) 234276</td>
                </tr>
                <tr>
                  <td>ведущий инженер по МТС</td>
                  <td>Дубовик Сергей Владимирович</td>
                  <td>(0232) 234276</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Бухгалтерия</td>
                </tr>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Ковалёва Инна Александровна</td>
                  <td>(0232) 233350</td>
                </tr>
                <tr>
                  <td>зам. главного бухгалтера</td>
                  <td>Пискун Ольга Константиновна</td>
                  <td>(0232) 205580</td>
                </tr>
                <tr>
                  <td>ведущий бухгалтер</td>
                  <td>Самусева Светлана Геннадьевна</td>
                  <td>(0232) 205580</td>
                </tr>
                <tr>
                  <td>ведущий бухгалтер</td>
                  <td>Гулевич Елена Ивановна</td>
                  <td>(0232) 205580</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">
                    Производственно-технический отдел
                  </td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Жигунова Ксения Витальевна</td>
                  <td>(029) 3802034</td>
                </tr>
                <tr>
                  <td>ведущий инженер</td>
                  <td>Виноградова Елена Николаевна</td>
                  <td>(044) 5023280</td>
                </tr>
                <tr>
                  <td>инженер по сметной работе</td>
                  <td>Рогозина Людмила Константиновна</td>
                  <td>(044) 7419669</td>
                </tr>
                <tr>
                  <td>инженер по сметной работе</td>
                  <td>Долгая Алла Васильевна</td>
                  <td>(044) 5670742</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Сектор менеджмента качества</td>
                </tr>
                <tr>
                  <td>ведущий инженер по качеству</td>
                  <td>Клемпач Наталья Николаевна</td>
                  <td>(044) 5057505</td>
                </tr>
                <tr>
                  <td>инженер по качеству</td>
                  <td>Рыжакова Елена Валерьевна</td>
                  <td>(025) 7939414</td>
                </tr>
                <tr>
                  <td>техник-геодезист</td>
                  <td>Симоненок Николай Сергеевич</td>
                  <td>(029) 1666399</td>
                </tr>
                <tr>
                  <td>техник-геодезист</td>
                  <td>Берашевич Сергей Вячеславович</td>
                  <td>(029) 2848734</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Главный механик</td>
                </tr>
                <tr>
                  <td>главный механик</td>
                  <td>Ляшук Сергей Владимирович</td>
                  <td>(044) 7082950</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">
                    Отдел по тендерам и договорной работе
                  </td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Чмель Татьяна Николаевна</td>
                  <td>(0232) 501161</td>
                </tr>
                <tr>
                  <td>юрисконсульт</td>
                  <td>Филоненко Оксана Леонидовна</td>
                  <td>(0232) 501161</td>
                </tr>
                <tr>
                  <td>инженер по сметной работе</td>
                  <td>Матвеева Алла Фёдоровна</td>
                  <td>(0232) 501161</td>
                </tr>
                <tr>
                  <td>инженер по сметной работе</td>
                  <td>Зур Екатерина Владимировна</td>
                  <td>(0232) 501161</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Участок специальных работ</td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Авсиевич Андрей Анатольевич</td>
                  <td>(044) 5797045</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Левин Вячеслав Борисович</td>
                  <td>(044) 5579392</td>
                </tr>
                <tr>
                  <td>мастер УСР</td>
                  <td>Мартусевич Александр Евгеньевич</td>
                  <td>(044) 5356505</td>
                </tr>
                <tr>
                  <td>ведущий инженер МТС</td>
                  <td>Можный Руслан Викторович</td>
                  <td>(029) 6724584</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">
                    Участок электромонтажных работ
                  </td>
                </tr>
                <tr>
                  <td>начальник</td>
                  <td>Рапатуев Сергей Владимирович</td>
                  <td>(044) 7640160</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Тимошенко Александр Егорович</td>
                  <td>(029) 1883714</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Рог Иван Константинович</td>
                  <td>(044) 7905350</td>
                </tr>
                <tr>
                  <td>инженер МТС</td>
                  <td>Кухорев Алексей Фёдорович</td>
                  <td>(029) 6263730</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Руководитель проекта</td>
                </tr>
                <tr>
                  <td>руководитель проекта</td>
                  <td>Елисеев Андрей Евгеньевич</td>
                  <td>(044) 5772246</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- pmk-4 -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>начальник</td>
                  <td>Будник Ярослав Витальевич</td>
                  <td>(02350) 20934</td>
                </tr>
                <tr>
                  <td>приёмная</td>
                  <td>Пинчук Мария Леонидовна</td>
                  <td>(02350) 21079</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Козелько Валентин Владимирович</td>
                  <td>(044) 7570871</td>
                </tr>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Пискун Елена Фёдоровна</td>
                  <td>(02350) 21167</td>
                </tr>
                <tr>
                  <td>ведущий бухгалтер</td>
                  <td>Швед Светлана Николаевна</td>
                  <td>(02350) 21167</td>
                </tr>
                <tr>
                  <td>инженер по ОТ, эколог. идеолог</td>
                  <td>Калинина Наталья Михайловна</td>
                  <td>(02350) 21159</td>
                </tr>
                <tr>
                  <td>инженер по сметной работе</td>
                  <td>Ильева Алла Леонидовна</td>
                  <td>(02350) 21079</td>
                </tr>
                <tr>
                  <td>инженер-энергетик</td>
                  <td>Малышев Степан Григорьевич</td>
                  <td>(02350) 21173</td>
                </tr>
                <tr>
                  <td>ведущий механик</td>
                  <td>Лаворенко Юрий Прохорович</td>
                  <td>(02350) 21143</td>
                </tr>
                <tr>
                  <td>начальник ПТО</td>
                  <td>Старовойтова Ольга Валентиновна</td>
                  <td>(02350) 21079</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Яцко Андрей Юрьевич</td>
                  <td>(044) 7383572</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Домино Леонид Константинович</td>
                  <td>(029) 1466571</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Матрос Анна Николаевна</td>
                  <td>(02350) 21168</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Кудрявец Николай Иванович</td>
                  <td>(029) 1663726</td>
                </tr>
                <tr>
                  <td>старший кладовщик</td>
                  <td>Слышова Оксана Григорьевна</td>
                  <td>(02350) 20934</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- pmk-5 -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>начальник</td>
                  <td>Ташликович Олег Николаевич</td>
                  <td>(02333) 56909</td>
                </tr>
                <tr>
                  <td>приёмная</td>
                  <td>Рыкунова Юлия Витальевна</td>
                  <td>(02333) 56928</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Тишков Владимир Михайлович</td>
                  <td>(029) 6994730</td>
                </tr>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Северинец Елена Викторовна</td>
                  <td>(02333) 56951</td>
                </tr>
                <tr>
                  <td>ведущий бухгалтер</td>
                  <td>Андреева Юлия Игоревна</td>
                  <td>(02333) 56953</td>
                </tr>
                <tr>
                  <td>экономист</td>
                  <td>Бельчуевская Татьяна Владимировна</td>
                  <td>(02333) 56953</td>
                </tr>
                <tr>
                  <td>начальник ПТО</td>
                  <td>Коленченко Александр Владимирович</td>
                  <td>(029) 3888218</td>
                </tr>
                <tr>
                  <td>инженер по ОТ</td>
                  <td>Лукомская Юлия Николаевна</td>
                  <td>(029) 6608590</td>
                </tr>
                <tr>
                  <td>начальник участка</td>
                  <td>Котляров Владимир Игоревич</td>
                  <td>(029) 3922873</td>
                </tr>
                <tr>
                  <td>ведущий энергетик, диспетчер</td>
                  <td>Заглада Евгений Владимирович</td>
                  <td>(029) 1970188</td>
                </tr>
                <tr>
                  <td>кладовщик</td>
                  <td>Рыдкина Светлана Михайловна</td>
                  <td>(02333) 56953</td>
                </tr>
                <tr>
                  <td>инженер по МТС</td>
                  <td>Грамотеева Наталья Николаевна</td>
                  <td>(029) 3203107</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Поляков Вадим Витальевич</td>
                  <td>(044) 5600436</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Барашнов Михаил Николаевич</td>
                  <td>(029) 6321246</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Карпенко Андрей Сергеевич</td>
                  <td>(044) 7774437</td>
                </tr>
                <tr>
                  <td>прораб ПТО</td>
                  <td>Ильющиц Сергей Анатольевич</td>
                  <td>(044) 7982002</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Татаринов Игорь Александрович</td>
                  <td>(029) 7357115</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Мороз Дмитрий Иванович</td>
                  <td>(044) 7806264</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Заворотный Глеб Геннадьевич</td>
                  <td>(025) 7346225</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Нерсу Дмитрий Николаевич</td>
                  <td>(029) 6990885</td>
                </tr>
                <tr>
                  <td>механик</td>
                  <td>Гуменников Сергей Евгеньевич</td>
                  <td>(02333) 53793</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- pmk-16 -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>начальник</td>
                  <td>Прокопенко Раиса Петровна</td>
                  <td>(0232) 214490</td>
                </tr>
                <tr>
                  <td>приёмная</td>
                  <td>Сальникова Наталья Алексеевна</td>
                  <td>(0232) 214490</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Халезов Николай Петрович</td>
                  <td>(0232) 264466</td>
                </tr>
                <tr>
                  <td>зам. начальника по производству</td>
                  <td>Шутов Михаил Николаевич</td>
                  <td>(0232) 264466</td>
                </tr>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Денисенко Татьяна Яковлевна</td>
                  <td>(0232) 214109</td>
                </tr>
                <tr>
                  <td>начальник ПТО</td>
                  <td>Аникеева Наталья Митрофановна</td>
                  <td>(0232) 264466</td>
                </tr>
                <tr>
                  <td>инженер МТС</td>
                  <td>Пискун Андрей Леонидович</td>
                  <td>(0232) 214110</td>
                </tr>
                <tr>
                  <td>ведущий механик</td>
                  <td>Маслюк Сергей Валентинович</td>
                  <td>(0232) 214490</td>
                </tr>
                <tr>
                  <td>ведущий инженер по сметной работе</td>
                  <td>Шуберт Ирина Николаевна</td>
                  <td>(0232) 264466</td>
                </tr>
                <tr>
                  <td>ведущий спец. по ОТ</td>
                  <td>Киселёва Елена Станиславовна</td>
                  <td>(0232) 264466</td>
                </tr>
                <tr>
                  <td>ведущий экономист</td>
                  <td>Лысенко Екатерина Олеговна</td>
                  <td>(0232) 214490</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- pmk-43 -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>начальник</td>
                  <td>Гавриленко Пётр Леонидович</td>
                  <td>(02345) 52873</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Перевозников Юрий Николаевич</td>
                  <td>(02345) 52873</td>
                </tr>
                <tr>
                  <td>приёмная</td>
                  <td>Лис Алла Николаевна</td>
                  <td>(02345) 54387</td>
                </tr>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Борисенко Наталья Филаретовна</td>
                  <td>(02345) 52850</td>
                </tr>
                <tr>
                  <td>начальник ПТО</td>
                  <td>Хомич Сергей Григорьевич</td>
                  <td>(02345) 52873</td>
                </tr>
                <tr>
                  <td>бухгалтер</td>
                  <td>Старовойтова Татьяна Викторовна</td>
                  <td>(02345) 52886</td>
                </tr>
                <tr>
                  <td>бухгалтер</td>
                  <td>Капитан Анастасия Станиславовна</td>
                  <td>(02345) 52886</td>
                </tr>
                <tr>
                  <td>инженер по охране труда</td>
                  <td>Тимошенко Елена Николаевна</td>
                  <td>(02345) 54882</td>
                </tr>
                <tr>
                  <td>инженер по МТС</td>
                  <td>Белан Михаил Владимирович</td>
                  <td>(02345) 52873</td>
                </tr>
                <tr>
                  <td>инженер-энергетик</td>
                  <td>Колыбенко Виталий Анатольевич</td>
                  <td>(02345) 54882</td>
                </tr>
                <tr>
                  <td>экономист</td>
                  <td>Набиева Юлия Руслановна</td>
                  <td>(02345) 52851</td>
                </tr>
                <tr>
                  <td>главный механик</td>
                  <td>Дулуб Сергей Сергеевич</td>
                  <td>(02345) 54882</td>
                </tr>
                <tr>
                  <td>прораб</td>
                  <td>Кацевич Владимир Владимирович</td>
                  <td>(029) 1305243</td>
                </tr>
                <tr>
                  <td>мастер</td>
                  <td>Далинчук Михаил Михайлович</td>
                  <td>(044) 5325160</td>
                </tr>
                <tr>
                  <td>мастер хоздвора</td>
                  <td>Дулуб Николай Петрович</td>
                  <td>(044) 7811632</td>
                </tr>
                <tr>
                  <td>диспетчер</td>
                  <td>Кананчук Татьяна Ивановна</td>
                  <td>(044) 7194413</td>
                </tr>
                <tr>
                  <td>завскладом</td>
                  <td>Огородник Тамара Ивановна</td>
                  <td>(044) 7812423</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- pmk-76 -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>начальник</td>
                  <td>Швец Дмитрий Николаевич</td>
                  <td>(02353) 33235</td>
                </tr>
                <tr>
                  <td>главный инженер</td>
                  <td>Морозов Юрий Юрьевич</td>
                  <td>(029) 1099594</td>
                </tr>
                <tr>
                  <td>приёмная</td>
                  <td>Бек Елена Викторовна</td>
                  <td>(02353) 33293</td>
                </tr>
                <tr>
                  <td rowspan="2">бухгалтерия</td>
                  <td>Романюк Любовь Васильевна</td>
                  <td>(02353) 33260</td>
                </tr>
                <tr>
                  <td>Батова Елена Леонидовна</td>
                  <td>(02353) 33260</td>
                </tr>
                <tr>
                  <td>начальник ПТО</td>
                  <td>Кислюк Галина Николаевна</td>
                  <td>(02353) 33236</td>
                </tr>
                <tr>
                  <td>инженер ПТО</td>
                  <td>Окунец Игорь Николаевич</td>
                  <td>(02353) 33291</td>
                </tr>
                <tr>
                  <td>инженер ПТО</td>
                  <td>Морозова Юлия Владимировна</td>
                  <td>(02353) 33291</td>
                </tr>
                <tr>
                  <td>экономист</td>
                  <td>Ханеня Кристина Валентиновна</td>
                  <td>(02353) 33295</td>
                </tr>
                <tr>
                  <td>инженер-энергетик</td>
                  <td>Кулакевич Дмитрий Викторович</td>
                  <td>(02353) 31682</td>
                </tr>
                <tr>
                  <td>диспетчер</td>
                  <td>Иванов Георгий Михайлович</td>
                  <td>(02353) 33241</td>
                </tr>
                <tr>
                  <td>инженер по ОТ</td>
                  <td>Чешейко Виталий Михайлович</td>
                  <td>(02353) 31682</td>
                </tr>
                <tr>
                  <td>механик</td>
                  <td>Купрацевич Александр Михайлович</td>
                  <td>(02353) 33295</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
    <!-- up jsk -->
    <tr class="contact-list hidden">
      <td colspan="2">
        <details on-toggle="scrollToTable($event)">
          <summary class="col-lg-5">
            ВСЕ КОНТАКТЫ
          </summary>
          <div class="pre-table">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Должность</th>
                  <th>ФИО</th>
                  <th>
                    <i class="fa fa-phone mr-3"></i>
                    &nbsp;
                    <span>телефон</span>
                  </th>
                  <!-- <th>
                    <span class="material-icons">
                      phone_android
                    </span>
                    &nbsp;
                    <span>мобильный</span>
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>главный бухгалтер</td>
                  <td>Горбачёва Елена Евгеньевна</td>
                  <td>(0232) 584808</td>
                </tr>
                <tr>
                  <td>техник по договорной работе</td>
                  <td>Агиевич Светлана Антоновна</td>
                  <td>(0232) 230628</td>
                </tr>
                <tr>
                  <td>мастер по эксплуатации жилфонда</td>
                  <td>Атрашкевич Нина Петровна</td>
                  <td>(0232) 234730</td>
                </tr>
                <tr>
                  <td>энергетик</td>
                  <td>Болотский Андрей Александрович</td>
                  <td>(029) 5323494</td>
                </tr>

                <tr>
                  <td colspan="3" class="department">Водитель</td>
                </tr>
                <tr>
                  <td>водитель</td>
                  <td>Бородин Дмитрий Викторович</td>
                  <td>(044) 7643064</td>
                </tr>
                <tr>
                  <td>водитель ЖСК</td>
                  <td>Покидько Евгений Валерьянович</td>
                  <td>(029) 1217452</td>
                </tr>
                <tr>
                  <td>водитель</td>
                  <td>Царик Владимир Николаевич</td>
                  <td>(029) 2202414</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Кутека Максим Владимирович</td>
                  <td>(044) 7560524</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Курзов Юрий Александрович</td>
                  <td>(029) 1370415</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Ивахненко Дмитрий Владимирович</td>
                  <td>(029) 1991958</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Смальцер Сергей Александрович</td>
                  <td>(029) 3374138</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Тимошенко Александр Анатольевич</td>
                  <td>(044) 7475825</td>
                </tr>
                <tr>
                  <td>водитель УСР</td>
                  <td>Плотонов Сергей Владимирович</td>
                  <td>(029) 3151264</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
      </td>
    </tr>
  </table>

  <app-button-up></app-button-up>

  <div class="last-space"></div>
</body>
