@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
@import "../../footer/footer.component.css";

.bg-dark {
    background-color: #343a40!important;
}

.col-lg-4 {
    align-self: center;
    line-height: 1.5;
    margin-top: 35px;
}

.container {
    background-color: #d6f7e4;
    margin-bottom: 10px;
    margin-top: 20px;
    /* position: relative;
	min-height: 100%; */
}

.h4 {
    padding: 10px 0 20px 0;
    font-size: 24pt;
}

.map {
    align-content: center;
    margin-top: 20px;
}

.material-icons {
    font-size: 14px;
}

.organization {
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: -10px;
    padding-top: 20px;
    text-align: center;
}

.pb-0 {
    font-style: italic;
    margin-right: 40px;
    text-align: right;
}

.pre-table {
    margin: 0px 10px -10px 10px;
    padding-top: 25px;
}

.row {
    margin: 20px 0px 20px 10px;
    padding-bottom: 20px;
}

.table {
    border: 2px solid black;
    font-size: 13pt;
}

.table-contacts {
    line-height: 2.2;
    text-align: center;
}

tbody tr td {
    padding: 5px;
}

thead {
    background-color: gray;
    color: white;
}

thead tr th {
    padding: 5px 10px 5px 10px !important;
}

#section {
    background-image: url(assets/img/gost-main-2.jpg);
    background-size: cover;
}

#yMap {
    box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 12px #009236;
    height: 100%;
    margin: 20px 0px 20px -25px;
    min-height: 480px;
    width: 99%;
}

/* new */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (min-width: 32em) {
    .col-lg-4 {
        margin-top: 0;
    }

    #yMap {
        margin: 0 0 15px 0;
        max-height: 360px;
    }
}

@media (min-width: 40em) {
    .col-lg-4 {
        margin-top: 0;
    }

    #yMap {
        margin: 0 0 15px 0;
    }
}