<link rel="canonical" href="https://gost.gomel.by"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="jquery.auto-text-rotating.js"></script>

<main role="main">
  <section class="main-view" *transloco="let t">
    <div class="logo-new">
      <img src="../../assets/img/logo-new-min.png">
    </div>

    <div class="main-view-text">
      <h2>{{ t('main-page.main-text-1') }}</h2>
      <h1>{{ t('main-page.main-text-2') }}</h1>
    </div>
  </section>

  <div class="main-gallery" *transloco="let t">
    <div class="main-slogan main-slogan-dark">{{ t('main-page.objects') }}</div>
    <div class="main-line main-line-dark"></div>
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let card of item; let cardIndex = index">
          <mdb-card class="my-1">
            <mdb-card-img [src]="card.img" alt="Card image cap" [class]="minimized" class="minimized"></mdb-card-img>
            <mdb-card-body>
              <mdb-card-title>
                <h4>{{card.title}}</h4>
              </mdb-card-title>
              <p>{{card.description}}</p>
              <!-- <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <div class="border-main" *transloco="let t">
    <div class="main-slogan main-slogan-white">{{ t('main-page.advantages.slogan') }}</div>
    <div class="main-line"></div>
    <div class="border-main-block">
      <div class="border-main-text">
        <div class="text-1">
          {{ t('main-page.advantages.text-1') }}
        </div>
        <div class="text-2">
          {{ t('main-page.advantages.text-2') }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="about-us-all">
    <div class="about-us-back">
      <div class="col-md-5 col-lg-5 about-logo">
        <div class="logo">
          <img src="../../assets/img/logo-orig-min.png" />
        </div>
      </div>

      <div class="col-md-7 col-lg-7 about-us row" *transloco="let t">
        <div class="caption">
          <h1>
            <b>{{ t('main-page.about.slogan') }}</b>
          </h1>
        </div>
        <div class="undercaption">
          <p></p>
          <p>{{ t('main-page.about.text-1') }}</p>
          <p></p>
          <p>{{ t('main-page.about.text-2') }}</p>
          <p></p>
          <p>{{ t('main-page.about.text-3') }}</p>
          <p></p>
          <p>{{ t('main-page.about.text-4') }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-video" *transloco="let t">
    <div class="main-slogan main-slogan-white">{{ t('main-page.video') }}</div>
    <div class="main-line"></div>
    <video controls poster="../../assets/video/gost-main-poster.jpg">
      <!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
      <source
        src="../../../assets/video/gost-main-2.mp4"
        type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
      />
      <!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
      <source
        src="../../../assets/video/gost-main-2.webm"
        type="video/webm"
      >
      <!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera -->
      <source
        src="../../../assets/video/gost-main-2.ogv"
        type="video/ogg"
      >
      <!-- видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->
      <object
        data="../../../assets/video/gost-main-2.swf"
        type="application/x-shockwave-flash"
      >
        <param
          name="movie"
          value="../../../assets/video/gost-main-2.swf"
        >
      </object>
    </video>
  </div>

  <div class="main-news" *transloco="let t">
    <div class="main-slogan main-slogan-dark">{{ t('main-page.news') }}</div>
    <div class="main-line main-line-dark"></div>
    <div class="main-news-some">
      <div class="main-news-inner">
        <a href="../../assets/doc/20200919_letter.docx">
          <img src="../../assets/doc/doc-ico.png" />
        </a>
        <div class="main-news-doc">
          <a href="../../assets/doc/20200919_letter.docx">Письмо в
            <p></p>"Гомельскую Правду"
          </a>
        </div>
      </div>
      
      <div class="main-news-inner">
        <a href="../../assets/doc/20200919_letter.docx">
          <img src="../../assets/doc/doc-ico.png" />
        </a>
        <div class="main-news-doc">
          <a href="../../assets/doc/20210311_ad_sh.docx">Объявление
            <p></p>о проведении
            <p></p>собрания
            <p></p>акционеров
          </a>
        </div>
      </div>

      <div class="main-news-inner">
        <a href="../../assets/doc/20200919_letter.docx">
          <img src="../../assets/doc/doc-ico.png" />
        </a>
        <div class="main-news-doc">
          <a href="../../assets/doc/20210329_reporting.docx">Информация
            <p></p>об отчётности
            <p></p>за 2020 г.
          </a>
        </div>
      </div>

      <div class="main-news-inner">
        <a href="../../assets/doc/20200919_letter.docx">
          <img src="../../assets/doc/doc-ico.png" />
        </a>
        <div class="main-news-doc">
          <a href="../../assets/doc/20210329_dividends.doc">Информация
            <p></p>о дивидендах
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-links">
    <a href="https://president.gov.by" rel="nofollow">
      <img src="../../assets/img/main-links/01.png">
    </a>
    <a href="https://pravo.by/" rel="nofollow">
      <img src="../../assets/img/main-links/02.png">
    </a>
    <a href="http://cenadm.gov.by" rel="nofollow">
      <img src="../../assets/img/main-links/03.jpg">
    </a>
    <a href="http://gomel.gov.by/ru/news/?NEWS_FILTER_TYPE=mchs" rel="nofollow">
      <img src="../../assets/img/main-links/04.png">
    </a>
    <a href="http://gomel.gov.by/ru/content/social-sphere/zdorove/vich-spid/epidsituatsiya-po-vich-infektsii/" rel="nofollow">
      <img src="../../assets/img/main-links/05.jpg">
    </a>
    <a href="http://www.gomel-region.by/ru/covid19-ru" rel="nofollow">
      <img src="../../assets/img/main-links/06.png">
    </a>
    <a href="http://качество-услуг.бел/RatingPortal" rel="nofollow">
      <img src="../../assets/img/main-links/07.jpg">
    </a>
  </div>
</main>