<div class="goods">
  <div class="goods-space"></div>

  <div class="goods-body">
    <div class="goods-caption">
      <h1>
        <b>СОБСТВЕННОЕ ПРОИЗВОДСТВО</b>
      </h1>
    </div>
    <div class="goods-text">
      <div class="goods-undercaption"></div>
    </div>

    <div class="goods-caption" id="goods-caption">
      <h1>
        <b>НЕЛИКВИДЫ</b>
      </h1>
    </div>
    <div class="goods-text">
      <div class="goods-undercaption"></div>
    </div>
  </div>

  <div class="goods-space"></div>
</div>
