.goods {
    background-color: white;
    min-height: 100vh;
}

.goods-body {
    margin: 0 80px;
    opacity: 0.95;
}

.goods-caption {
    color: #3F3F3F;
    text-align: center;
    padding: 40px;
}

.goods-space {
    height: 50px;
}

.goods-text {
    color: black;
    height: 200px;
    padding: 0px 40px;
    margin-left: -40px;
}

.services-undercaption {
    font-size: 14pt;
    line-height: 2em;
}

@media screen and (max-width: 1024px) {
    .goods-body {
        margin: 0 60px;
    }

    .goods-space {
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .goods-body {
        margin: 0;
    }

    .goods-space {
        height: 40px;
    }

    .goods-text {
        padding: 10px 20px;
    }
}