.goods {
    background-image: url(assets\img\unmarketable.jpg);
    background-size: cover;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    min-height: 100vh;
}

.goods-body {
    background-color: #009236;
    margin: 0 80px;
    opacity: 0.95;
}

.goods-caption {
    background-color: black;
    color: #009236;
    padding: 20px 40px;
}

.goods-space {
    height: 50px;
}

.goods-text {
    height: 333px;
    padding: 20px 40px;
}

@media screen and (max-width: 1024px) {
    .goods-body {
        margin: 0 60px;
    }

    .goods-space {
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .goods-body {
        margin: 0;
    }

    .goods-space {
        height: 40px;
    }

    .goods-text {
        padding: 10px 20px;
    }
}