<head>
  <meta charset="utf-8" name="description"
    content="Наши товары" />
</head>

<body>
  <div class="goods">
    <div class="goods-space"></div>
  
    <div class="goods-body">
      <div class="goods-caption" id="SP">
        <h1>
          <b>Собственное производство</b>
        </h1>
      </div>
      <div class="goods-text">
        <div class="goods-undercaption">
          
        </div>
      </div>
  
      <div class="goods-caption" id="NL">
        <h1>
          <b>Неликвиды</b>
        </h1>
      </div>
      <div class="goods-text">
        <div class="goods-undercaption">
          
        </div>
      </div>
    </div>
  
    <div class="goods-space"></div>
  </div>
  
</body>