/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* Colors:

#d5f3b3 green-white
#03cc1e green-bright
#009236 green
#343a40 dark-gray

*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #009236;
  color: #5a5a5a;
  /* font: 13.2px/20px SangBleuSunrise, sans-serif; */
  min-height: calc(100vh - 599px);
}

/* MDB CAROUSEL
-------------------------------------------------- */

body .btn-primary {
  background-color: #009236!important;
}

.card img {
  border-bottom: 3px solid #009236;
}

.carousel-indicators {
  margin-bottom: 50px; /*18px*/
}

.carousel-indicators li {
  background-color: black;
  border: 1px solid white;
}

.carousel-inner {
  padding: 0 13% 15px 13%;
}

.carousel {
  background-color: white!important;
}

.controls-top {
  font-size: 30pt;
  text-align: center;
}
.controls-top:hover {
  color: green;
}
.controls-top a {
  margin: 0 25px;
}

.carousel-multi-item {
  background-color: #16181a;
  min-height: 540px;
}

.img-fluid {
  height: 250px;
  width: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
  
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-inner {
    padding: 0 60px 15px 60px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-inner {
    padding: 0 30px 15px 30px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-inner {
    padding: 0 20px 15px 20px;
  }
}

/* WTF gallery */

/* картинка на странице */
/*.minimized {
  width: 300px;
  cursor: pointer;
  border: 1px solid #FFF;
}
 
.minimized:hover {
  border: 1px solid yellow;
}*/
 
/* увеличенная картинка */
#magnify {
  display: none;
  height: auto;
  max-height: 90%;
  max-width: 60%;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  z-index: 9999;
}
 
#magnify img {
  width: 100%;
}

#magnify_text {
  color: white;
}
 
/* затемняющий фон */
#overlay {
  display: none;
 
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: 9990;
}
 
/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
 
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
 
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}
 
@keyframes rota {
 25% { transform: rotate(360deg); }
}
 
#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}