.info {
    background-color: white;
    min-height: 100vh;
}

.info-body {
    margin: 0 80px;
    opacity: 0.95;
}

.info-caption {
    color: #3F3F3F;
    text-align: center;
    padding: 40px;
}

.info-space {
    height: 50px;
}

/* !!! */

/* Форма обратной связи*/

input.error, textarea.error { 
	border-color: #973d3d; 
	border-style: solid; 
	background: #f0bebe; 
	color: #a35959; 
}
input.error:focus, textarea.error:focus { 
	border-color: #973d3d; 
	color: #a35959;
}

#inline {
    font-family: Source Sans Pro!important;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 20px
}

#send { 
	background: #d5f3b3;
	border-radius: 3px;
	font-family: Source Sans Pro!important;
	font-weight: 400;
	margin: -5px 0 30px 0;
	padding: 7px;
}
#send:hover {
	background: #979797;
}

.flex {
	display: flex;
	justify-content:space-between;
}

.qr { 
	width: 130px; 
	margin: 5px 0 5px 0;
	box-shadow: 0px 0px 10px 0px;

}

.txt { 
    display: inline-block;
    color: #676767;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
    border-radius: 4px;
}

.txtarea { 
    display: inline-block;
    width:100%;
    color: #676767;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px!important;
    line-height: 1.4em;
    height: 80px;
}
.txt:focus, .txtarea:focus {
    border-style: solid; 
    border-color: #bababa; 
    color: #444; 
}

/* Форма обратной связи*/
/* HTML PostCSSResult
EDIT ON
@use postcss-nested; */
:root {
    --size: 5rem;
}
@keyframes rotate {
    from { 
        transform: rotate(0);
    }
    to { 
        transform: rotate(1080deg);
    }
}