.info {
    background-color: white;
    min-height: 100vh;
}

.info-body {
    margin: 0 80px;
    opacity: 0.95;
}

.info-caption {
    color: #3F3F3F;
    text-align: center;
    padding: 40px;
}

.info-space {
    height: 50px;
}