<link rel="canonical" href="https://gost.gomel.by/info"/>

<head>
  <meta charset="utf-8" name="description"
    content="Инфо-центр" />
</head>

<body class="info" ng-app="anchorScrollExample">
  <div class="info-body" *transloco="let t">  
    <div class="info-caption" id="CE">
      <h1>
        <b>{{ t('info.certificates') }}</b>
      </h1>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-001.pdf">
          <img src="../../../assets/pdf/certificates/mini/001.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-002.pdf">
          <img src="../../../assets/pdf/certificates/mini/002.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-003.pdf">
          <img src="../../../assets/pdf/certificates/mini/003.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-004.pdf">
          <img src="../../../assets/pdf/certificates/mini/004.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-005.pdf">
          <img src="../../../assets/pdf/certificates/mini/005.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-006.pdf">
          <img src="../../../assets/pdf/certificates/mini/006.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-007.pdf">
          <img src="../../../assets/pdf/certificates/mini/007.PNG">
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a href="../../../assets/pdf/certificates/sert-008.pdf">
          <img src="../../../assets/pdf/certificates/mini/008.PNG">
        </a>
      </ng-template>
    </owl-carousel-o>

    <div class="info-space"></div>

    <div class="info-caption" id="FB">
      <h1>
        <b>{{ t('info.feedback') }}</b>
      </h1>
    </div>

    <div>
      <script type="text/javascript" src="../../../assets/wp-popup/js/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="../../../assets/wp-popup/fancybox/jquery.fancybox.js"></script>
      <script type="text/javascript" src="../../../assets/wp-popup/js/jquery.maskedinput.js"></script>
      <script type="text/javascript">
        jQuery(function(jQuery){
          $("#phone").mask("+375 (99) 999-99-99");
          $("#phone2").mask("+375 (99) 999-99-99");
        });
      </script>
      
      <div id="inline">
        <form id="contact" name="contact" action="#" method="post">
          <input type="name" id="name" name="name" class="txt" placeholder="Ваше имя:">
          <input type="phone" id="phone" name="phone" class="txt" placeholder="Ваш телефон:">
          <input type="email1" id="email1" name="email1" class="txt" placeholder="Ваш e-mail:"> 
          <textarea id="msg" name="msg" class="txtarea"  placeholder="Ваше сообщение:"></textarea>
          <button id="send">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</body>