.info {
  background-color: white;
  min-height: 100vh;
}

.info-body {
  margin: 0 80px;
  opacity: 0.95;
}

.info-caption {
  color: #3F3F3F;
  text-align: center;
  padding: 40px;
}

.info-space {
  height: 50px;
}

/* !!! */

/* Форма обратной связи*/

input.error, textarea.error {
	border-color: #973d3d;
	border-style: solid;
	background: #f0bebe;
	color: #a35959;
}
input.error:focus, textarea.error:focus {
	border-color: #973d3d;
	color: #a35959;
}

#contact, #contact-lp {
  margin: 20px 0 0 0;
}

#inline, #inline-lp {
  background: #fff;
  font-family: Source Sans Pro!important;
  font-weight: 400;
  margin: 0 auto;
  padding: 00px 30px;
  width: 100%;
}

#send, #send-lp {
	background: #d5f3b3;
	border-radius: 3px;
	font-family: Source Sans Pro!important;
	font-weight: 400;
	padding: 7px;
}
#send:hover, #send-lp:hover {
	background: #979797;
}

.flex {
	display: flex;
	justify-content:space-between;
}

.qr {
	width: 130px;
	margin: 5px 0 5px 0;
	box-shadow: 0px 0px 10px 0px;

}

.txt {
  display: inline-block;
  color: #676767;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px 9px;
  font-size: 15px!important;
  line-height: 1.4em;
  border-radius: 4px;
}

.txtarea {
  display: inline-block;
  width: 100%;
  color: #676767;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px 9px;
  font-size: 15px!important;
  line-height: 1.4em;
  height: 80px;
}
.txt:focus, .txtarea:focus {
  border-style: solid;
  border-color: #bababa;
  color: #444;
}

/* Форма обратной связи*/
/* HTML PostCSSResult
EDIT ON
@use postcss-nested; */
:root {
  --size: 5rem;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1080deg);
  }
}

/* spoiler */

summary:focus {
  outline: none;
}
/* Убираем стандартный маркер Chrome */
.details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
.details > summary {
  list-style: none;
}

.details.spoiler-closed summary:before {
  content: none; /* '\25BA' */
}
.details summary:before {
  content: none; /* '\25BC' */
}

.spoiler {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  padding: 0 1em;
}
.spoiler .details {
  padding: 1em 0;
  outline: none;
}
.spoiler .details + .details {
  border-top: 1px solid #e0e0e0;
}
.spoiler summary {
  color: #003513;
  margin: 10px 0 10px 30px;
  outline: none;
}
.spoiler .details > div {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 1;
  max-height: 30em;
  overflow: hidden;
}

.spoiler .details.spoiler-closed > div {
  opacity: 0;
  max-height: 0;
}

.file-picker {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 14px/50px Tahoma;
  transition: all 0.18s ease-in-out;
  border: 1px solid #ccc;
  color: #676767;
}
.file-picker:hover {
  color: #fff;
  background: linear-gradient(45deg, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 45%, rgba(204,204,204,1) 100%);
}
.input-file {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-labels {
  display: flex;
  align-items: center;
}
.file-count {
  color: #676767;
  margin-left: 10px;
}
