<link rel="canonical" href="https://gost.gomel.by/services"/>

<head>
  <meta charset="utf-8" name="description"
    content="Наши услуги" />
</head>

<body class="services" ng-app="anchorScrollExample">
  <div class="services-body" *transloco="let t">
    <div class="services-caption" id="SR">
      <h1>
        <b>{{ t('services.special-work.caption') }}</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>{{ t('services.special-work.work-1') }}</li>
          <li>{{ t('services.special-work.work-2') }}</li>
          <li>{{ t('services.special-work.work-3') }}</li>
          <li>{{ t('services.special-work.work-4') }}</li>
          <li>{{ t('services.special-work.work-5') }}</li>
          <li>{{ t('services.special-work.work-6') }}</li>
          <li>{{ t('services.special-work.work-7') }}</li>
          <li>{{ t('services.special-work.work-8') }}</li>
          <li>{{ t('services.special-work.work-9') }}</li>
          <li>{{ t('services.special-work.work-10') }}</li>
          <li>{{ t('services.special-work.work-11') }}</li>
        </ul>
      </div>
    </div>

    <div class="services-caption" id="OR">
      <h1>
        <b>{{ t('services.common-work.caption') }}</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            {{ t('services.common-work.geodetic') }}
          </li>
          <li>
            {{ t('services.common-work.earthworks.caption') }}
            <ul>
              <li>
                {{ t('services.common-work.earthworks.work-1') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-2') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-3') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-4') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-5') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-6') }}
              </li>
              <li>
                {{ t('services.common-work.earthworks.work-7') }}
              </li>
            </ul>
          </li>
          <li>
            {{ t('services.common-work.welding.caption') }}
            <ul>
              <li>
                {{ t('services.common-work.welding.work-1') }}
              </li>
              <li>
                {{ t('services.common-work.welding.work-2') }}
              </li>
              <li>
                {{ t('services.common-work.welding.work-3') }}
              </li>
              <li>
                {{ t('services.common-work.welding.work-4') }}
              </li>
            </ul>
          </li>
          <li>
            {{ t('services.common-work.roofing') }}
          </li>
          <li>
            {{ t('services.common-work.insulation-coatings') }}
          </li>
          <li>
            {{ t('services.common-work.thermal-insulation') }}
          </li>
          <li>
            {{ t('services.common-work.insulation-pipelines') }}
          </li>
          <li>
            {{ t('services.common-work.finishing') }}
          </li>
          <li>
            {{ t('services.common-work.filling-openings') }}
          </li>
          <li>
            {{ t('services.common-work.floor') }}
          </li>
          <li>
            {{ t('services.common-work.paving-slabs') }}
          </li>
          <li>
            {{ t('services.common-work.landscaping') }}
          </li>
          <li>
            {{ t('services.common-work.street-roads') }}
          </li>
        </ul>
      </div>
    </div>

    <div class="services-caption" id="CE">
      <h1>
        <b>Сертификаты</b>
      </h1>
    </div>
    <div class="certificates-text">
      <div class="services-undercaption certificates">
        <ul>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-001.pdf">
              Аттестат соответствия №0003850-ГС
            </a>
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-002.pdf">
              Аттестат соответствия №0009016-СТ
            </a>
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-003.pdf">
              Лицензия МЧС
            </a>
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-004.pdf">
              Свидетельство о техкомпетентности 2020-2025
            </a>
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-005.pdf">
              Свидетельство об оценке сварочного производства
            </a> 
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-006.pdf">
              Сертификат СУОТ
            </a>
          </li>
          <li>
            <a href="../../../assets/pdf/sertificates/sert-007.pdf">
              Сертификат ISO Холдинг
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <app-button-up></app-button-up>
  
  <div class="services-space"></div>
</body>