.certificates {
    line-height: 2.5em!important;
    margin: 30px 10px 30px -10px;
}
.certificates a {
    color: black!important;
}
.certificates ul {
    list-style: none;
}
.certificates ul li:before {
    content: "\140A";
    margin: 0 1.35em;
}

.certificates-text {
    color: black;
    margin: -10px 0 0 -20px;
}

.services {
    background-color: white;
    min-height: 100vh;
}

.services-body {
    margin: 0 80px;
    opacity: 0.95;
}

.services-caption {
    text-align: center;
    padding: 40px;
}

.services-space {
    height: 50px;
}

.services-text {
    color: black;
    padding: 0px 40px;
}

.services-undercaption {
    font-size: 14pt;
    line-height: 2em;
}
.services-undercaption a {
    color: white;
    text-decoration: none;
}
.services-undercaption ul li {
    padding-left: 15px;
}

@media screen and (max-width: 1024px) {
    .services-body {
        margin: 0 60px;
    }

    .services-space {
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .services-body {
        margin: 0;
    }

    .services-space {
        height: 40px;
    }

    .services-text {
        padding: 10px 20px;
    }
}