<body class="services" ng-app="anchorScrollExample">
  <div class="services-space"></div>

  <div class="services-body">
    <div class="services-caption" id="SR">
      <h1>
        <b>СПЕЦИАЛЬНЫЕ РАБОТЫ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            Электромонтажные работы (устройство сетей и систем электроснабжения,
            электроосвещения)
          </li>
          <li>
            Системы связи и диспетчеризации инженерного оборудования жилых и
            общественных зданий
          </li>
          <li>
            Устройство слаботочных сетей и систем
          </li>
          <li>
            Монтаж систем автоматизации
          </li>
          <li>
            Монтаж, наладка, техническое обслуживание систем автоматической
            пожарной сигнализации, систем автоматического пожаротушения, систем
            противодымной защиты, систем оповещения о пожаре и управления
            эвакуацией
          </li>
          <li>
            Выполнение работ с применением огнезащитных составов
          </li>
          <li>
            Монтаж инженерных сетей: линейно-кабельные сооружения электросвязи
          </li>
          <li>
            Монтаж пассивных оптических сетей
          </li>
          <li>
            Монтаж технологического оборудования и трубопроводов
          </li>
          <li>
            Монтаж внутренних инженерных систем зданий и сооружений
            (водоснабжение, монтаж приборов учёта тепла, канализация,
            отопление, вентиляция и кондиционирование, газоснабжение)
          </li>
          <li>
            Монтаж наружных сетей и сооружений (водоснабжение, канализация,
            тепловые сети, газоснабжение)
          </li>
        </ul>
      </div>
    </div>

    <div class="services-caption" id="OR">
      <h1>
        <b>ОБЩЕСТРОИТЕЛЬНЫЕ РАБОТЫ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption">
        <ul>
          <li>
            Геодезические работы
          </li>
          <li>
            Земляные работы
            <ul>
              <li>
                Устройство фундаментов на основаниях из естественных грунтов
              </li>
              <li>
                Устройство искусственных оснований и укрепление грунтов
              </li>
              <li>
                Устройство свайных фундаментов
              </li>
              <li>
                Устройство специальных видов фундаментов зданий и сооружений
              </li>
              <li>
                Возведение монолитных бетонных и железобетонных конструкций
              </li>
              <li>
                Монтаж сборных бетонных и железобетонных конструкций
              </li>
              <li>
                Возведение каменных и армокаменных конструкций
              </li>
            </ul>
          </li>
          <li>
            Сварочные работы
            <ul>
              <li>
                Монтаж стальных конструкций
              </li>
              <li>
                Монтаж и устройство несущих деревянных конструкций
              </li>
              <li>
                Монтаж лёгких ограждающий конструкций
              </li>
              <li>
                Устройство антикоррозионных покрытий строительных
                конструкций зданий и сооружений
              </li>
            </ul>
          </li>
          <li>
            Кровельные работы
          </li>
          <li>
            Устройство изоляционных покрытий 
          </li>
          <li>
            Устройство тепловой изоляции ограждающих конструкций зданий
            и сооружений
          </li>
          <li>
            Изоляционные работы (теплоизоляция трубопроводов)
          </li>
          <li>
            Отделочные работы (штукатурные, облицовочные, малярные,
            обойные, стекольные)
          </li>
          <li>
            Заполнение оконных и дверных проёмов
          </li>
          <li>
            Устройство  полов
          </li>
          <li>
            Устройство дорожных покрытий пешеходных зон из плит
            тротуарных
          </li>
          <li>
            Благоустройство территорий, озеленение
          </li>
          <li>
            Устройство улиц и дорог городов, посёлков и сельских
            населённых пунктов
          </li>
        </ul>
      </div>
    </div>

    <div class="services-caption" id="CE">
      <h1>
        <b>СЕРТИФИКАТЫ</b>
      </h1>
    </div>
    <div class="services-text">
      <div class="services-undercaption certificates">
        <a href="../../../assets/pdf/sertificates/sert-001.pdf">
          Аттестат соответствия №0003850-ГС
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-002.pdf">
          Аттестат соответствия №0009016-СТ
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-003.pdf">
          Лицензия МЧС
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-004.pdf">
          Свидетельство о техкомпетентности 2020-2025
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-005.pdf">
          Свидетельство об оценке сварочного производства
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-006.pdf">
          Сертификат СУОТ
        </a><br />
        <a href="../../../assets/pdf/sertificates/sert-007.pdf">
          Сертификат ISO Холдинг
        </a>
      </div>
    </div>
  </div>

  <div class="services-space"></div>
</body>